@charset "UTF-8";
/* ----------------------------------- *\
      icons
\* ----------------------------------- */
.i {
  display: inline-block;
  vertical-align: middle;
  transition: none;
}
/* ----------------------------------- *\
      main styles
\* ----------------------------------- */
body {
  color: #171717;
  background: #fff;
  font-size: 16px;
  line-height: 1.62;
}
p {
  margin-bottom: 37px;
}
a {
  color: #ffba00;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
h1,
.main-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 25px;
}
h1 a,
.main-title a {
  text-decoration: none;
  color: #333;
}
h1 a:hover,
.main-title a:hover {
  text-decoration: underline;
}
h2,
.second-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.17;
}
h2 a,
.second-title a {
  text-decoration: none;
  color: #333;
}
h2 a:hover,
.second-title a:hover {
  text-decoration: underline;
}
h3,
.small-title {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 15px;
}
h3 a,
.small-title a {
  text-decoration: none;
  color: #333;
}
h3 a:hover,
.small-title a:hover {
  text-decoration: underline;
}
.center {
  text-align: center;
  text-transform: uppercase;
}
.title-wrap-block {
  overflow: hidden;
  margin-bottom: 20px;
}
.title-wrap-block .select-block {
  position: relative;
  margin-bottom: 10px;
  max-width: 100%;
}
.title-wrap-block h1,
.title-wrap-block h2,
.title-wrap-block .main-title,
.title-wrap-block .second-title {
  margin-bottom: 10px;
}
.line-title-block {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.line-title-block.one h1:before,
.line-title-block.one h2:before,
.line-title-block.one h3:before,
.line-title-block.one h4:before {
  height: 1px;
  margin-top: -2px;
}
.line-title-block h1,
.line-title-block h2,
.line-title-block h3,
.line-title-block h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  line-height: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-right: 15px;
  position: relative;
}
.line-title-block h1:before,
.line-title-block h2:before,
.line-title-block h3:before,
.line-title-block h4:before {
  content: "";
  display: block;
  width: 1200px;
  height: 3px;
  background: #d7d7d7;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -2px;
}
p img {
  width: 100%;
  display: block;
}
.f-left {
  float: left;
  max-width: 50%;
  margin: 0 22px 5px 0;
}
.f-right {
  float: right;
  margin: 0 0 5px 22px;
  max-width: 50%;
}
.main-pic {
  display: block;
  width: 100%;
  margin-bottom: 37px;
}
hr {
  clear: both;
  display: block;
  width: 100%;
  overflow: hidden;
  outline: none;
  background: #d7d7d7;
  border: none;
  border-radius: 0;
  margin: 0 0 30px 0;
}
.breadcrumbs-box {
  margin-bottom: 30px;
  padding-top: 20px;
}
.breadcrumbs-box .title {
  display: block;
}
.breadcrumbs-box .links {
  display: block;
  margin: 0 -30px 0 0;
  color: #6f6f6f;
}
.breadcrumbs-box .links a {
  display: inline-block;
  position: relative;
  margin-right: 28px;
  color: #6f6f6f;
}
.breadcrumbs-box .links a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -258px -112px;
  width: 7px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 11px;
  margin-top: -4px;
}
.breadcrumbs-box .links span {
  margin-right: 28px;
}
.video-block {
  display: block;
  text-decoration: none;
  position: relative;
  padding-bottom: 50.9%;
  height: 0;
  overflow: hidden;
}
.video-block img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.video-block:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.video-block:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: 0px -108px;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  z-index: 2;
}
.video-block iframe,
.video-block object,
.video-block embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.light-text {
  color: #a7a7a7;
}
.att-text {
  color: #ffba00;
}
@media (max-width: 479px) {
  h1,
  .main-title {
    font-size: 20px;
  }
  h2,
  .second-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  h3,
  .small-title {
    font-size: 18px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
  line-height: 20px;
  margin-bottom: 30px;
}
table th {
  font-weight: bold;
  text-align: center;
  padding: 15px 10px;
  border-bottom: 3px solid #ffba00;
  background: #f3f3f3;
  border-top: 1px solid #d7d7d7;
  vertical-align: middle;
}
table th:first-child {
  border-radius: 3px 0 0 0;
  border-left: 1px solid #d7d7d7;
}
table th:last-child {
  border-radius: 0 3px 0 0;
  border-right: 1px solid #d7d7d7;
}
table td {
  vertical-align: top;
  padding: 15px 10px;
  background: #fff;
  border: none;
}
table td:first-child {
  border-left: 1px solid #d7d7d7;
}
table td:last-child {
  border-right: 1px solid #d7d7d7;
}
table tr:last-child td {
  border-bottom: 1px solid #d7d7d7;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
table tr:nth-child(2n) td {
  background: #f3f3f3;
}
@media (max-width: 639px) {
  .f-right,
  .f-left {
    float: none;
    width: 100%;
    margin: 0 0 37px 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 15px;
    line-height: 1.5;
  }
}
@media (min-width: 640px) {
  .title-wrap-block {
    margin-bottom: 20px;
  }
  .title-wrap-block h1 {
    line-height: 38px;
    float: left;
    margin: 0 25px 10px 0;
  }
  .title-wrap-block .select-block {
    float: left;
    margin: 0 10px 10px 0;
  }
}
@media (min-width: 768px) {
  .breadcrumbs-box {
    overflow: hidden;
    margin-left: 0;
    margin-right: -60px;
  }
  .breadcrumbs-box .title {
    display: inline;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .breadcrumbs-box .links {
    display: inline;
    margin: 0;
  }
  .breadcrumbs-box .links a {
    margin-right: 58px;
  }
  .breadcrumbs-box .links a:before {
    margin-left: 26px;
  }
  .breadcrumbs-box .links span {
    margin-right: 58px;
  }
}
@media (min-width: 1024px) {
  .video-block.main:after {
    background-image: url(../img/spr.png);
    background-position: 0px 0px;
    width: 88px;
    height: 88px;
    margin: -44px 0 0 -44px;
  }
}
/* ----------------------------------- *\
      structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.empty {
  display: block;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  height: 120px;
}
.inner-wrap,
.page {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 0 17px;
  min-width: 320px;
  max-width: 1024px;
}
.page {
  margin-bottom: 50px;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: 320px;
}
.wrap {
  overflow: hidden;
  min-height: 100%;
}
.header {
  background: #171717;
  color: #fff;
  z-index: 9;
  font-size: 14px;
  line-height: 1.2;
}
.header .inner-wrap {
  height: 60px;
}
.header .logo {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 20px;
  left: 17px;
  overflow: hidden;
  line-height: 1;
  width: 80px;
}
.header .logo img {
  max-width: 100%;
}
.header .logo-text {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 100px;
}
.footer {
  overflow: hidden;
  border-top: 3px solid #faa719;
  background: #171717;
  font-size: 16px;
  color: #707070;
  line-height: 1.2;
  height: 120px;
  margin-top: -120px;
}
.footer .inner-wrap {
  height: 117px;
  overflow: hidden;
  padding: 0 17px 0 130px;
  line-height: 117px;
}
.footer .logo {
  display: block;
  float: left;
  position: absolute;
  top: 24px;
  left: 17px;
  width: 77px;
  line-height: 1;
}
.footer .logo img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.footer .inner-block {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.2;
}
.footer .copy-block {
  margin-bottom: 10px;
}
.footer a {
  color: #ffba00;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}
.nav {
  background: #fba819;
  font-size: 14px;
  line-height: 1.2;
}
.nav:hover {
  z-index: 8;
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav li {
  padding: 0;
  margin: 0;
}
.nav li:before {
  display: none;
}
@media (max-width: 767px) {
  .nav .inner-wrap {
    padding: 0;
  }
  .main-menu-wrap {
    position: relative;
    text-align: left;
  }
  .main-menu-wrap .btn-menu {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }
  .main-menu-wrap .btn-menu:hover,
  .main-menu-wrap .btn-menu.active {
    color: #000;
  }
  .main-menu-wrap .menu-block {
    display: none;
    background: #fba819;
    padding: 17px 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    line-height: 20px;
  }
  .main-menu-wrap ul {
    margin: 0;
    padding: 0;
  }
  .main-menu-wrap ul ul {
    display: none;
    animation: fadein ease 0.3s;
  }
  .main-menu-wrap li {
    margin: 0;
    padding: 0;
  }
  .main-menu-wrap li:before {
    display: none;
  }
  .main-menu-wrap li a {
    display: block;
    position: relative;
    padding: 10px 17px;
    text-decoration: none;
    color: #fff;
  }
  .main-menu-wrap li a:hover,
  .main-menu-wrap li a.active {
    color: #000000;
    text-decoration: none;
  }
  .main-menu-wrap li.open > a {
    color: #000000;
  }
  .main-menu-wrap li.open ul {
    display: block;
  }
  .main-menu-wrap li li a {
    font-size: 14px;
    padding: 5px 17px 5px 30px;
  }
}
@media (min-width: 480px) {
  .header .logo-text {
    font-size: 20px;
    top: 15px;
  }
}
@media (min-width: 768px) {
  .header .inner-wrap {
    height: 120px;
  }
  .header .logo {
    width: 172px;
    top: 40px;
    left: 0px;
  }
  .header .logo-text {
    font-size: 34px;
    line-height: 40px;
    top: 34px;
    left: 212px;
  }
  .main-menu-wrap {
    padding-left: 195px;
  }
  .main-menu-wrap .btn-menu {
    display: none;
  }
  .main-menu-wrap .menu-block > ul {
    text-align: justify;
    height: 106px;
    line-height: 106px;
  }
  .main-menu-wrap .menu-block > ul:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
  }
  .main-menu-wrap .menu-block > ul > li {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }
  .main-menu-wrap .menu-block > ul > li:hover > a {
    color: #000;
    text-decoration: none;
  }
  .main-menu-wrap .menu-block > ul > li:hover ul {
    display: block;
  }
  .main-menu-wrap .menu-block > ul > li > a {
    display: inline-block;
    vertical-align: top;
    height: 106px;
    line-height: 106px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }
  .main-menu-wrap .menu-block > ul > li > a:hover {
    color: #000;
    text-decoration: none;
  }
  .main-menu-wrap .menu-block > ul ul {
    display: none;
    animation: fadein ease 0.3s;
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 35px 15px 15px 15px;
    width: 240px;
    margin-left: -120px;
    font-size: 18px;
    line-height: 25px;
  }
  .main-menu-wrap .menu-block > ul ul:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 20px;
    border: 1px solid #d7d7d7;
    background: rgba(255, 255, 255, 0.98);
  }
  .main-menu-wrap .menu-block > ul ul:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top-color: #fba819;
    margin-left: -10px;
  }
  .main-menu-wrap .menu-block > ul ul li {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
  }
  .main-menu-wrap .menu-block > ul ul li:last-child {
    margin-bottom: 0;
  }
  .main-menu-wrap .menu-block > ul ul a {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
  }
  .main-menu-wrap .menu-block > ul ul a:hover {
    text-decoration: underline;
  }
  .footer .inner-wrap {
    padding: 0 17px 0 17px;
  }
  .footer .inner-block {
    text-align: center;
    position: relative;
    min-height: 20px;
    line-height: 20px;
    font-size: 16px;
    padding-right: 25px;
  }
  .footer .copy-block {
    padding: 0 160px;
    text-align: center;
    margin: 0;
  }
  .footer .mail-block {
    position: absolute;
    top: 0;
    right: 0;
    float: left;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .main-menu-wrap .menu-block > ul > li > a {
    font-size: 20px;
  }
  .main-menu-wrap .menu-block > ul ul {
    font-size: 18px;
    padding-bottom: 30px;
    padding-top: 45px;
  }
  .main-menu-wrap .menu-block > ul ul a {
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .main-menu-wrap .menu-block {
    margin: 0 -17px 0 0;
  }
}
/* ----------------------------------- *\
      fonts
\* ----------------------------------- */
/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* font-family: "GothamProMedium"; */
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i-a01 {
  background-image: url(../img/spr.png);
  background-position: -258px -112px;
  width: 7px;
  height: 11px;
}
.i-a02 {
  background-image: url(../img/spr.png);
  background-position: -258px -143px;
  width: 6px;
  height: 11px;
}
.i-a03 {
  background-image: url(../img/spr.png);
  background-position: -258px -174px;
  width: 11px;
  height: 6px;
}
.i-blank {
  background-image: url(../img/spr.png);
  background-position: -258px -200px;
  width: 1px;
  height: 1px;
}
.i-ico-close {
  background-image: url(../img/spr.png);
  background-position: 0px -182px;
  width: 22px;
  height: 22px;
}
.i-ico-date {
  background-image: url(../img/spr.png);
  background-position: -84px -182px;
  width: 22px;
  height: 22px;
}
.i-ico-load {
  background-image: url(../img/spr.png);
  background-position: -108px -76px;
  width: 36px;
  height: 10px;
}
.i-ico-location {
  background-image: url(../img/spr.png);
  background-position: -218px 0px;
  width: 20px;
  height: 23px;
}
.i-ico-photo {
  background-image: url(../img/spr.png);
  background-position: -258px -80px;
  width: 14px;
  height: 12px;
}
.i-ico-play-main {
  background-image: url(../img/spr.png);
  background-position: 0px 0px;
  width: 88px;
  height: 88px;
}
.i-ico-play {
  background-image: url(../img/spr.png);
  background-position: 0px -108px;
  width: 54px;
  height: 54px;
}
.i-ico-slider-small {
  background-image: url(../img/spr.png);
  background-position: -74px -108px;
  width: 28px;
  height: 28px;
}
.i-ico-slider {
  background-image: url(../img/spr.png);
  background-position: -108px 0px;
  width: 56px;
  height: 56px;
}
.i-ico-stat {
  background-image: url(../img/spr.png);
  background-position: -42px -182px;
  width: 22px;
  height: 22px;
}
.i-soc01-h {
  background-image: url(../img/spr.png);
  background-position: 0px -224px;
  width: 31px;
  height: 18px;
}
.i-soc01 {
  background-image: url(../img/spr.png);
  background-position: -51px -224px;
  width: 31px;
  height: 18px;
}
.i-soc02-h {
  background-image: url(../img/spr.png);
  background-position: -218px -43px;
  width: 11px;
  height: 22px;
}
.i-soc02 {
  background-image: url(../img/spr.png);
  background-position: -218px -85px;
  width: 11px;
  height: 22px;
}
.i-soc03-h {
  background-image: url(../img/spr.png);
  background-position: -258px 0px;
  width: 25px;
  height: 20px;
}
.i-soc03 {
  background-image: url(../img/spr.png);
  background-position: -258px -40px;
  width: 25px;
  height: 20px;
}
.i-soc04-h {
  background-image: url(../img/spr.png);
  background-position: -126px -182px;
  width: 32px;
  height: 20px;
}
.i-soc04 {
  background-image: url(../img/spr.png);
  background-position: -178px -182px;
  width: 32px;
  height: 20px;
}
.i-soc05-h {
  background-image: url(../img/spr.png);
  background-position: -122px -108px;
  width: 14px;
  height: 23px;
}
.i-soc05 {
  background-image: url(../img/spr.png);
  background-position: -184px 0px;
  width: 14px;
  height: 23px;
}
/* ----------------------------------- *\
      forms styles
\* ----------------------------------- */
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  height: 38px;
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  background: #fff;
  padding: 0 10px;
  font-size: 14px;
  color: #383838;
}
textarea {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}
select {
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  color: #383838;
  font-size: 14px;
  padding-left: 10px;
  -webkit-appearance: none;
  line-height: 1em;
  background-color: #fff;
  background-image: url(../img/main/select.png);
  background-position: right center;
  background-repeat: no-repeat;
  text-indent: 0.01px;
  text-overflow: '';
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none!important;
  outline: none;
}
select::-ms-expand {
  display: none;
}
body .ui-selectmenu-button {
  width: 100% !important;
  padding: 0;
  outline: none;
}
body .ui-selectmenu-button span.ui-selectmenu-text {
  outline: none;
  height: 38px;
  padding: 0 30px 0 10px;
  font-size: 14px;
  line-height: 36px;
  color: #383838;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  background: #fff;
}
body .ui-selectmenu-button span.ui-icon {
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -258px -174px;
  width: 11px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 12px;
  margin: -3px 0 0 -6px;
}
body .ui-selectmenu-button.ui-corner-top span.ui-selectmenu-text {
  border-radius: 2px 2px 0 0;
}
body .ui-selectmenu-button.ui-corner-top span.ui-icon {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
body .ui-menu {
  border: 1px solid #d7d7d7;
  border-top: none;
  background: #fff;
  border-radius: 0 0 2px 2px;
  padding: 0;
  margin: 0;
}
body .ui-menu .ui-menu-item {
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  color: #383838;
}
body .ui-menu .ui-menu-item:hover,
body .ui-menu .ui-menu-item.ui-state-focus {
  margin: 0;
  padding: 5px 10px;
  background: #f3f3f3;
}
.frm-bg {
  background: #f3f3f3;
}
.frm-bg .ui-selectmenu-button span.ui-selectmenu-text {
  color: #333;
  background: #f3f3f3;
}
.frm-bg .ui-menu {
  background: #f3f3f3;
}
.frm-bg .ui-menu .ui-menu-item {
  color: #333;
}
.frm-bg .ui-menu .ui-menu-item:hover,
.frm-bg .ui-menu .ui-menu-item.ui-state-focus {
  background: #fff;
}
.frm-bg select,
.frm-bg textarea,
.frm-bg input[type="text"],
.frm-bg input[type="tel"],
.frm-bg input[type="email"],
.frm-bg input[type="password"] {
  color: #333;
}
.frm-bg [placeholder]::-webkit-input-placeholder {
  color: #333;
}
.frm-bg [placeholder]:-moz-placeholder {
  color: #333;
}
.frm-bg [placeholder]::-moz-placeholder {
  color: #333;
}
.frm-bg [placeholder]:-ms-input-placeholder {
  color: #333;
}
.frm-dark .ui-selectmenu-button span.ui-selectmenu-text {
  color: #fff;
  background: #090909;
  border-color: #4b4b4b;
}
.frm-dark .ui-menu {
  background: #090909;
  border-color: #4b4b4b;
}
.frm-dark .ui-menu .ui-menu-item {
  color: #fff;
}
.frm-dark .ui-menu .ui-menu-item:hover,
.frm-dark .ui-menu .ui-menu-item.ui-state-focus {
  background: #f3a217;
}
.frm-dark select,
.frm-dark textarea,
.frm-dark input[type="text"],
.frm-dark input[type="tel"],
.frm-dark input[type="email"],
.frm-dark input[type="password"] {
  color: #fff;
  border-color: #4b4b4b;
}
.frm-dark [placeholder]::-webkit-input-placeholder {
  color: #fff;
}
.frm-dark [placeholder]:-moz-placeholder {
  color: #fff;
}
.frm-dark [placeholder]::-moz-placeholder {
  color: #fff;
}
.frm-dark [placeholder]:-ms-input-placeholder {
  color: #fff;
}
.btn,
button,
input[type="submit"] {
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
  border: none;
  padding: 0 20px;
  background: #fba819;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.btn:hover,
button:hover,
input[type="submit"]:hover {
  text-decoration: none;
  color: #fff;
  background: #ffb92a;
}
.btn.btn-secondary,
button.btn-secondary,
input[type="submit"].btn-secondary {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  background: #f3f3f3;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.btn.btn-secondary:hover,
button.btn-secondary:hover,
input[type="submit"].btn-secondary:hover {
  color: #333;
  background: #e2e2e2;
}
.btn.btn-loader:after,
button.btn-loader:after,
input[type="submit"].btn-loader:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -108px -76px;
  width: 36px;
  height: 10px;
  margin-left: 18px;
}
.frm-date {
  color: #ffba00;
  text-transform: uppercase;
  font-weight: 600;
}
.frm-count {
  border-radius: 3px;
  display: block;
  vertical-align: middle;
  position: relative;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding: 0 10px 0 32px;
  min-width: 68px;
}
.frm-count:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -258px -80px;
  width: 14px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -6px;
}
.frm-points {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #171717;
  text-decoration: none;
}
.frm-points .points {
  display: block;
  font-size: 46px;
  line-height: 1;
}
.frm-number {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background: #fba819;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.frm-number.small {
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.w310 {
  width: 310px;
}
.w170 {
  width: 170px;
}
.w210 {
  width: 210px;
}
.btn-stat {
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -42px -182px;
  width: 22px;
  height: 22px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn-toggle.active + .popup-block {
  display: block !important;
}
.popup-block {
  animation: fadein ease 0.3s;
}
.ico-block {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 2px;
  text-decoration: none;
}
.ico-block img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
/* ----------------------------------- *\
      content styles
\* ----------------------------------- */
.item-match {
  display: block;
  position: relative;
  height: 130px;
  border: 1px solid #0a0a0a;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 20px 100px 0 100px;
  overflow: hidden;
  line-height: 1;
  margin: 0 auto;
}
.item-match.future .score {
  color: #6e6e6e;
}
.item-match.future .score:before {
  content: ":";
}
.item-match.future:hover {
  border-color: #0a0a0a;
}
.item-match:hover {
  border-color: #727272;
  text-decoration: none;
}
.item-match .logo {
  display: block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 17px auto;
}
.item-match .team-block {
  display: block;
  width: 100px;
  padding: 0 5px;
  float: left;
  margin-left: -100px;
}
.item-match .team-block:last-child {
  margin-left: 0;
  margin-right: -100px;
  float: right;
}
.item-match .result-block {
  width: 100%;
  display: block;
  float: left;
}
.item-match .score {
  font-size: 36px;
  color: #ffba00;
  font-weight: 600;
  display: block;
  height: 44px;
  line-height: 44px;
}
.item-match .date {
  font-size: 12px;
  color: #b3b3b3;
  white-space: nowrap;
}
.item-text-new {
  line-height: 1.38;
  color: #fff;
}
.item-text-new .frm-date {
  font-size: 14px;
  margin-bottom: 8px;
}
.item-text-new a {
  text-decoration: none;
  color: #fff;
}
.item-text-new a:hover {
  text-decoration: underline;
}
.item-text-new p {
  margin: 0;
}
.item-game {
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  border: 1px solid #d7d7d7;
  border-left-color: #fff;
  border-right-color: #fff;
  padding: 10px;
  position: relative;
}
.item-game:hover {
  background: #fdf8f0;
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-left-color: #d7d7d7;
  border-right-color: #d7d7d7;
}
.item-game .item-total {
  margin-bottom: -10px;
  padding: 0;
}
.item-game .score {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  color: #ffba00;
}
.item-game .title,
.item-game .val {
  display: inline;
}
.item-game .link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.item-total {
  height: 74px;
  line-height: 74px;
  font-size: 18px;
  overflow: hidden;
}
.item-total .team-block {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 85px;
  position: relative;
}
.item-total .team-block:before {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  background: #d7d7d7;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -1px 0 0 -4px;
}
.item-total .team-block.winner {
  font-weight: bold;
}
.item-total .team-block + .team-block {
  padding-right: 0;
  padding-left: 85px;
  text-align: left;
}
.item-total .team-block + .team-block:before {
  display: none;
}
.item-total .team-block + .team-block .logo {
  right: auto;
  left: 13px;
}
.item-total .name {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25;
  width: 100%;
}
.item-total .logo {
  display: block;
  width: 54px;
  height: 54px;
  margin-top: -27px;
  text-align: center;
  line-height: 1px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 13px;
}
.item-total .logo img {
  display: block;
  width: 100%;
}
.item-player-small {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #171717;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  line-height: 1.25;
}
.item-player-small .photo-block {
  display: block;
  width: 78px;
  height: 100px;
  border: none;
  line-height: 1;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
  margin: 0 auto 15px auto;
  background: url(../img/main/blank01.jpg) center no-repeat;
  background-size: 100% 100%;
}
.item-player-small .photo-block img {
  display: block;
  width: 100%;
}
.item-player-small .frm-number {
  display: block;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-top: -14px;
  margin-left: -14px;
  text-decoration: none;
}
a.item-player-small:hover {
  text-decoration: underline;
}
.item-stat table {
  margin: 0;
  table-layout: fixed;
}
.item-stat table .col02 {
  width: 60px;
}
.item-stat table th {
  text-align: left;
}
.item-stat table td:last-child {
  text-align: center;
}
.item-one-player {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 35px;
  border-bottom: 3px solid #d7d7d7;
  font-size: 14px;
}
.item-one-player .photo-block {
  display: block;
  width: 100px;
  max-height: 128px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  line-height: 1;
  text-decoration: none;
  float: left;
  margin: 0 15px 15px 0;
}
.item-one-player .photo-block img {
  display: block;
  width: 100%;
}
.item-one-player h1,
.item-one-player .main-title {
  margin-bottom: 0px;
  font-size: 16px;
}
.item-one-player .pos-block {
  font-weight: 600;
  color: #ffba00;
}
.item-one-player .info-block {
  clear: both;
  line-height: 38px;
}
.item-one-player .frm-number {
  display: inline-block;
  margin: -1px 0 -1px 5px;
}
.item-one-player .buttons {
  margin: 0 -9px 0 0;
  overflow: hidden;
}
.item-one-player .item-soc {
  float: left;
  margin: 0 9px 9px 0;
}
.item-soc {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  font-weight: 400;
  width: 62px;
  height: 40px;
  border: 1px solid #5175a5;
  font-size: 16px;
  border-radius: 20px;
  padding: 0 0 0 38px;
  color: #5075a5;
  text-decoration: none;
  line-height: 40px;
}
.item-soc.small {
  width: 64px;
  line-height: 38px;
  text-align: center;
  padding: 0;
}
.item-soc.small:before {
  left: 50%;
}
.item-soc.logo {
  padding: 0;
  text-align: center;
  line-height: 38px;
  border-color: #2e278b;
}
.item-soc.logo:hover {
  background: #726bcf;
  border-color: #726bcf;
}
.item-soc.logo img {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  max-height: 90%;
}
.item-soc.logo:before {
  display: none;
}
.item-soc:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -51px -224px;
  width: 31px;
  height: 18px;
  margin: -9px 0 0 -16px;
}
.item-soc:hover {
  background: #5175a5;
  color: #fff !important;
}
.item-soc:hover:before {
  background-image: url(../img/spr.png);
  background-position: 0px -224px;
  width: 31px;
  height: 18px;
}
.item-soc.soc02 {
  border-color: #39579a;
  color: #39579a;
}
.item-soc.soc02:before {
  background-image: url(../img/spr.png);
  background-position: -218px -85px;
  width: 11px;
  height: 22px;
  margin: -11px 0 0 -6px;
}
.item-soc.soc02:hover {
  background: #39579a;
}
.item-soc.soc02:hover:before {
  background-image: url(../img/spr.png);
  background-position: -218px -43px;
  width: 11px;
  height: 22px;
}
.item-soc.soc03 {
  border-color: #059ff5;
  color: #059ff5;
}
.item-soc.soc03:before {
  background-image: url(../img/spr.png);
  background-position: -258px -40px;
  width: 25px;
  height: 20px;
  margin: -10px 0 0 -13px;
}
.item-soc.soc03:hover {
  background: #059ff5;
}
.item-soc.soc03:hover:before {
  background-image: url(../img/spr.png);
  background-position: -258px 0px;
  width: 25px;
  height: 20px;
}
.item-soc.soc04 {
  border-color: #dd4d3a;
  color: #dd4d3a;
}
.item-soc.soc04:before {
  background-image: url(../img/spr.png);
  background-position: -178px -182px;
  width: 32px;
  height: 20px;
  margin: -10px 0 0 -16px;
}
.item-soc.soc04:hover {
  background: #dd4d3a;
}
.item-soc.soc04:hover:before {
  background-image: url(../img/spr.png);
  background-position: -126px -182px;
  width: 32px;
  height: 20px;
}
.item-soc.soc05 {
  border-color: #f88200;
  color: #f88200;
}
.item-soc.soc05:before {
  background-image: url(../img/spr.png);
  background-position: -184px 0px;
  width: 14px;
  height: 23px;
  margin: -12px 0 0 -7px;
}
.item-soc.soc05:hover {
  background: #f88200;
}
.item-soc.soc05:hover:before {
  background-image: url(../img/spr.png);
  background-position: -122px -108px;
  width: 14px;
  height: 23px;
}
.item-gallery {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
}
.item-gallery .inner-block {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50%;
}
.item-gallery img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.item-media {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  font-size: 0;
}
.item-media .photo-block,
.item-media .video-block {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 50.8% !important;
}
.item-media img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.item-media .frm-count {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.item-mgallery {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
}
.item-mgallery:hover .title-block {
  text-decoration: underline;
}
.item-mgallery .photo-block {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding-top: 50.9%;
  margin-bottom: 10px;
}
.item-mgallery .photo-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.item-mgallery .video-block {
  display: block;
  margin-bottom: 10px;
}
.item-mgallery .title-block {
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  color: #171717;
}
.item-mgallery .title-block a {
  color: #171717;
  text-decoration: none;
}
.item-mgallery .title-block a:hover {
  text-decoration: underline;
}
.item-mgallery .frm-date {
  display: block;
  font-size: 14px;
}
.item-mgallery .frm-count {
  display: block;
  float: left;
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 2;
}
.item-new {
  overflow: hidden;
}
.item-new .frm-date {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}
.item-new .photo-block {
  line-height: 1;
  overflow: hidden;
  margin-bottom: 20px;
}
.item-new .photo-block img {
  display: block;
  width: 100%;
}
.item-new p {
  margin: 0;
}
.item-player {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 12px 12px 12px 166px;
  text-decoration: none;
  line-height: 1.38;
  color: #333333;
  height: 206px;
}
.item-player.main {
  border-color: #171717;
  color: #fff;
  text-decoration: none;
  height: 168px;
  padding-left: 138px;
}
.item-player.main .photo-block {
  height: 140px;
  width: 110px;
  margin-left: -126px;
}
.item-player.main:hover {
  border-color: #727272;
}
.item-player.main .date-block {
  display: block;
  font-size: 14px;
  color: #ffba00;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 8px;
}
.item-player.main .age-block {
  display: block;
  font-size: 15px;
  margin-top: 8px;
}
.item-player:hover {
  border-color: #d7d7d7;
}
.item-player .frm-points {
  width: 100px;
  margin: 0 auto;
  display: block;
}
.item-player .photo-block {
  display: block;
  width: 140px;
  height: 180px;
  float: left;
  margin-left: -154px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background: url(../img/main/blank01.jpg) center no-repeat;
  background-size: 100% 100%;
}
.item-player .photo-block img {
  display: block;
  width: 100%;
}
.item-player a {
  color: #333333;
  text-decoration: none;
}
.item-player a:hover {
  text-decoration: underline;
}
.item-player .name-block {
  display: block;
  margin-bottom: 5px;
}
.cnt-info-box {
  overflow: hidden;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.cnt-info-box.bottom {
  padding-top: 28px;
  margin-bottom: 30px;
  border-bottom: none;
  border-top: 1px solid #d7d7d7;
}
.cnt-info-box .soc-block {
  margin-bottom: 15px;
}
.cnt-info-box .soc-block + .link {
  float: none;
}
.cnt-info-box .soc-block .title {
  line-height: 40px;
  display: block;
  color: #6f6f6f;
}
.cnt-info-box .soc-block .item-soc {
  margin: 0 8px 8px 0;
  display: inline-block;
  vertical-align: top;
}
.cnt-info-box .soc-block .buttons {
  font-size: 0;
  margin: 0 -8px 0 0;
}
.cnt-info-box .frm-date {
  float: left;
}
.cnt-info-box .link {
  float: right;
}
.cnt-info-box .link a {
  color: #6f6f6f;
}
.stat-box {
  margin: 0 -20px 40px -20px;
  overflow: hidden;
}
.stat-box .item-wrap {
  margin-bottom: 20px;
  padding: 0 20px;
}
.gallery-box,
.media-gallery-box {
  overflow: hidden;
  margin: 0 -10px;
}
.gallery-box .item-wrap,
.media-gallery-box .item-wrap {
  display: block;
  float: left;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.media-gallery-box {
  font-size: 0;
}
.media-gallery-box .item-wrap {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.media-gallery-box .load-box {
  border-top: 1px solid #d7d7d7;
  padding-top: 20px;
}
.media-gallery-box .load-box.active ~ .item-wrap {
  display: inline-block;
}
.news-box .item-wrap {
  margin-bottom: 40px;
}
.news-box .load-box {
  padding-top: 40px;
  border-top: 1px solid #d7d7d7;
  margin-bottom: 40px;
}
.players-box {
  margin: 0 -18px 10px -18px;
  overflow: hidden;
  position: relative;
}
.players-box .item-wrap {
  display: block;
  float: left;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 15px;
}
.load-box {
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}
.load-box ~ .item-wrap {
  display: none;
  animation: fadein ease 0.3s;
}
.load-box.active {
  display: none;
}
.load-box.active ~ .item-wrap {
  display: block;
}
.tbl-tables table {
  text-align: center;
  table-layout: fixed;
}
.tbl-tables table .col01 {
  width: 45px;
}
.tbl-tables table .col03,
.tbl-tables table .col04,
.tbl-tables table .col05,
.tbl-tables table .col06 {
  width: 70px;
}
.tbl-tables table .col07 {
  width: 90px;
}
.tbl-tables table .col08 {
  width: 115px;
}
.tbl-tables table th:last-child,
.tbl-tables table td:last-child {
  padding-right: 25px;
}
.tbl-tables table th:first-child,
.tbl-tables table td:first-child {
  padding-left: 0;
  padding-right: 0;
}
.tbl-tables table th:nth-child(2),
.tbl-tables table td:nth-child(2) {
  padding-left: 0;
  text-align: left;
}
.tbl-tables table .tr-link {
  text-align: center;
}
.tbl-tables table .tr-link td {
  font-size: 16px;
  text-align: center;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
}
.tbl-tables table .tr-link a {
  color: rgba(111, 111, 111, 0.6);
}
.tbl-tables table .tr-link ~ tr {
  display: none;
}
.tables-box {
  padding-top: 35px;
  margin-bottom: 20px;
}
.tables-box .items-wrap {
  overflow: hidden;
}
.tables-box .main-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}
.result-box {
  padding: 0 60px 20px 60px;
  border-bottom: 3px solid #d7d7d7;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 1.25;
}
.result-box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.result-box .team-block {
  float: left;
  width: 50px;
  margin-left: -60px;
  text-align: center;
}
.result-box .team-block:last-child {
  margin-left: 0;
  margin-right: -60px;
  float: right;
}
.result-box .team-block .logo-block {
  display: block;
  height: 60px;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #d7d7d7;
  margin-bottom: 5px;
  text-decoration: none;
}
.result-box .team-block .logo-block img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.result-box .team-block .name-block {
  font-weight: bold;
  margin: 0 -10px;
}
.result-box .team-block .location-block {
  font-size: 12px;
  color: #6f6f6f;
  margin: 0 -15px;
}
.result-box .result-block {
  display: block;
  width: 100%;
  float: left;
  padding: 0px;
  text-align: center;
}
.result-box .result-block .location-block {
  color: #161616;
}
.result-box .result-block .location-block a {
  color: #161616;
}
.result-box .result-block .location-block:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -218px 0px;
  width: 20px;
  height: 23px;
  margin-right: 5px;
  vertical-align: -7px;
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.result-box .result-block .date-block {
  font-weight: bold;
}
.result-box .result-block .date-block:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -84px -182px;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  vertical-align: -6px;
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.result-box .score-block {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0;
}
.result-box .score-block .score {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #fba819;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  margin: 0 20px 0 0;
  color: #fff;
}
.result-box .score-block .score:after {
  content: ":";
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 30px;
  text-align: center;
  color: #cacaca;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 100%;
}
.result-box .score-block .score:last-child {
  margin-right: 0;
}
.result-box .score-block .score:last-child:after {
  display: none;
}
.result-box .period-block {
  font-size: 0;
}
.result-box .period-block .period {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin-right: 20px;
}
.result-box .period-block .period:after {
  content: "";
  display: block;
  width: 12px;
  height: 1px;
  background: #cacaca;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -2px;
  margin-left: 4px;
}
.result-box .period-block .period:last-child {
  margin-right: 0;
}
.result-box .period-block .period:last-child:after {
  display: none;
}
.goals-result-box {
  border-bottom: 3px solid #d7d7d7;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.goals-result-box .period-title {
  display: block;
  width: 140px;
  height: 40x;
  border-radius: 2px;
  line-height: 38px;
  border: 1px solid #d7d7d7;
  margin: 0 auto 50px auto;
  position: relative;
  text-align: center;
  font-size: 18px;
  color: #333;
}
.goals-result-box .period-title:before {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  position: absolute;
  top: 100%;
  left: 50%;
  background: #d7d7d7;
}
.goals-result-box .goal-block {
  position: relative;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(111, 111, 111, 0.6);
  min-height: 112px;
  padding-bottom: 44px;
  margin: 0 -10px 10px -10px;
}
.goals-result-box .goal-block:last-child {
  margin-bottom: 0;
}
.goals-result-box .goal-block:before {
  content: "";
  display: block;
  width: 1px;
  height: 36px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #d7d7d7;
}
.goals-result-box .goal-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.goals-result-box .goal-block.right .players-info {
  float: right;
  padding-right: 0;
  padding-left: 40px;
  text-align: left;
}
.goals-result-box .goal-block .main {
  color: #333;
}
.goals-result-box .goal-block .players-info {
  width: 50%;
  float: left;
  padding-right: 40px;
  text-align: right;
}
.goals-result-box .goal-block .players-info a {
  color: rgba(111, 111, 111, 0.6);
  text-decoration: none;
}
.goals-result-box .goal-block .players-info a:hover {
  text-decoration: underline;
}
.goals-result-box .goal-block .players-info .main a {
  color: #333;
}
.goals-result-box .goal-block .goal-info {
  width: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
}
.goals-result-box .goal-block .score {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #fba819;
}
.goals-result-box .goal-block .time {
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #333;
}
.goals-result-box .items-wrap:last-child .goal-block:last-child {
  min-height: 70px;
  padding-bottom: 0;
}
.goals-result-box .items-wrap:last-child .goal-block:last-child:before {
  display: none;
}
.composition-box {
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 3px solid #d7d7d7;
}
.composition-box .items-wrap {
  font-size: 0;
  margin: 0 -10px;
}
.composition-box .item-wrap {
  display: inline-block;
  vertical-align: top;
  width: 49.95%;
  padding: 0 10px;
  margin-bottom: 25px;
  max-width: 200px;
}
.composition-box .line-title-block {
  margin-bottom: 25px;
}
.media-wrap-box {
  overflow: hidden;
}
.media-wrap-box .item-wrap {
  margin-bottom: 20px;
}
.media-wrap-box .main-title {
  margin-bottom: 15px;
}
.games-box {
  display: none;
}
.games-box .item-wrap {
  margin-top: -1px;
}
.games-box .item-wrap:first-child {
  margin-top: 0;
}
.tbl-games .link {
  display: none;
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tbl-games .tbl-row {
  position: relative;
}
.tbl-games .tbl-row:hover {
  z-index: 2;
}
.tbl-games .tbl-row:hover:before {
  display: block;
}
.tbl-games .tbl-row:hover .link {
  display: block;
}
.tbl-games .tbl-row:before {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: -15px;
  right: -15px;
  top: -1px;
  border: 1px solid #d7d7d7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: #fdf8f0;
}
.tbl-games table {
  margin: 0;
  table-layout: fixed;
}
.tbl-games table .col01 {
  width: 19%;
}
.tbl-games table .col02 {
  width: 90px;
}
.tbl-games table .col04 {
  width: 95px;
}
.tbl-games table .col05 {
  width: 42px;
}
.tbl-games table td {
  text-align: left;
  padding: 0 0 0 28px;
  vertical-align: middle;
  font-size: 18px;
  position: relative;
  background: none;
}
.tbl-games table th {
  padding-left: 28px;
  text-align: left;
  padding-right: 0;
}
.tbl-games table td:nth-child(3),
.tbl-games table th:nth-child(3) {
  text-align: center;
  padding-left: 0;
}
.tbl-games table td:nth-child(4),
.tbl-games table th:nth-child(4) {
  padding-left: 0;
  text-align: left;
}
.tbl-games table td:nth-child(5),
.tbl-games table th:nth-child(5) {
  padding-left: 0;
}
.tbl-games table td {
  position: relative;
}
.tbl-games .score {
  font-size: 36px;
  font-weight: 600;
  color: #ffba00;
}
@media (max-width: 899px) {
  .item-total {
    font-size: 14px;
    padding: 0 10px;
  }
  .tbl-games table {
    font-size: 14px;
  }
  .tbl-games table .col02 {
    width: 60px;
  }
  .tbl-games table .col05 {
    width: 0;
  }
  .tbl-games table .col04 {
    width: 70px;
  }
  .tbl-games table th,
  .tbl-games table td {
    font-size: 14px;
    padding-left: 10px;
  }
  .tbl-games table th:nth-child(5),
  .tbl-games table td:nth-child(5) {
    width: 0;
    padding: 0;
  }
  .tbl-games .btn-stat {
    display: none;
  }
  .tbl-games .score {
    font-size: 28px;
  }
}
.columns-box {
  position: relative;
  background: #171717;
  padding: 53px 0 20px 0;
  margin-bottom: -50px;
}
.columns-box .inner-block {
  z-index: 2;
  position: relative;
}
.columns-box .inner-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.columns-box:before,
.columns-box:after {
  content: "";
  display: block;
  width: 9999px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: #171717;
}
.columns-box:before {
  left: auto;
  right: 100%;
}
.columns-box h2,
.columns-box h3,
.columns-box h4 {
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.columns-box .item-mgallery {
  color: #fff;
}
.columns-box .item-mgallery .title-block {
  color: #fff;
}
.columns-box .item-mgallery a {
  color: #fff;
}
.columns-box .link-block {
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  color: #6f6f6f;
}
.columns-box .link-block a {
  color: #6f6f6f;
}
.columns-box .items-wrap {
  margin-bottom: 40px;
}
.columns-box .players-box {
  margin-top: -12px;
  margin-right: -5px;
}
.best-players-box {
  padding: 35px 0 30px 0;
  background: #f3f3f3;
  position: relative;
}
.best-players-box .item-title {
  overflow: hidden;
  position: relative;
  margin: 0 auto 22px auto;
  max-width: 400px;
  font-size: 18px;
  color: #000;
  line-height: 38px;
}
.best-players-box .item-title .title {
  width: 1005;
  float: left;
  line-height: 38px;
  font-weight: 600;
  margin-right: -170px;
}
.best-players-box .item-title .select-block {
  width: 170px;
  float: right;
}
.best-players-box .item-wrap {
  margin-bottom: 20px;
}
.best-players-box .item-player {
  background: #fff;
  border-color: #fff;
  max-width: 400px;
  margin: 0 auto;
}
.best-players-box .item-player:hover {
  border-color: #d7d7d7;
}
.best-players-box .item-player .name-block {
  margin-bottom: 40px;
}
.best-players-box:before,
.best-players-box:after {
  content: "";
  display: block;
  width: 9999px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: #f3f3f3;
}
.best-players-box:before {
  left: auto;
  right: 100%;
}
.best-players-box .title-block {
  margin-bottom: 30px;
  text-align: center;
}
.best-players-box .title-block img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  max-height: 30px;
  margin-right: 15px;
}
.best-players-box .title-block h1,
.best-players-box .title-block h2,
.best-players-box .title-block h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.best-players-box .title-block .select-block {
  margin: 10px auto 0 auto;
}
.main-box {
  background: #181818 url(../img/main/decor.jpg) center bottom no-repeat;
  padding-bottom: 47px;
}
.main-box .inner-wrap {
  background: #080808;
  padding-top: 30px;
  padding-bottom: 25px;
}
.main-box .inner-block {
  overflow: hidden;
  position: relative;
}
.main-box h2,
.main-box h3,
.main-box h4 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
  padding: 0;
}
.main-box .title-block {
  padding-right: 160px;
  overflow: hidden;
  margin-bottom: 5px;
  height: 38px;
  line-height: 38px;
}
.main-box .title-block h1,
.main-box .title-block h2,
.main-box .title-block h3,
.main-box .title-block h4 {
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.main-box .title-block .title {
  width: 100%;
  float: left;
}
.main-box .title-block .select-block {
  width: 150px;
  float: right;
  margin-right: -160px;
  position: relative;
}
.main-box .link-block {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #6f6f6f;
}
.main-box .link-block a {
  color: #6f6f6f;
}
.main-box .column {
  margin: 0 auto 40px auto;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}
.news-list-box .item-wrap {
  margin-bottom: 20px;
}
.gallery-show .popup-box {
  top: 0;
  position: fixed;
}
.popup-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  min-width: 320px;
  background: rgba(23, 23, 23, 0.8);
}
.popup-box .wrap-block {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.gallery-slider-box .sl-item {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.gallery-slider-box .main-slider .sl-item {
  padding-top: 50.5%;
}
.gallery-slider-box .main-slider img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.gallery-slider-box .preview-slider {
  background: #171717;
  padding: 10px 6px;
  position: relative;
  overflow: hidden;
}
.gallery-slider-box .preview-slider .slider {
  position: relative;
  overflow: hidden;
  clear: both;
}
.gallery-slider-box .preview-slider .sl-item {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 4px solid #171717;
  border-radius: 3px;
  cursor: pointer;
}
.gallery-slider-box .preview-slider .sl-item.active {
  border-color: #f7a519;
}
.gallery-slider-box .preview-slider .owl-item {
  padding: 0 4px;
}
.gallery-slider-box .preview-slider .photo-block {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50.5%;
}
.gallery-slider-box .preview-slider img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.gallery-slider-box .owl-prev,
.gallery-slider-box .owl-next {
  display: block;
  overflow: hidden;
  text-indent: -999px;
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: -74px -108px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -14px;
  opacity: 0.7;
}
.gallery-slider-box .owl-prev:hover,
.gallery-slider-box .owl-next:hover {
  opacity: 1;
}
.gallery-slider-box .owl-next {
  left: auto;
  right: 10px;
}
.gallery-slider-box .owl-prev {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gallery-slider-box .btn-close {
  display: block;
  float: left;
  padding-right: 35px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: -37px;
  right: 17px;
  z-index: 2;
}
.gallery-slider-box .btn-close:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  transition: none;
  background-image: url(../img/spr.png);
  background-position: 0px -182px;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .tbl-tables table .col03,
  .tbl-tables table .col04,
  .tbl-tables table .col05,
  .tbl-tables table .col06 {
    width: 60px;
  }
  .tbl-tables table .col07,
  .tbl-tables table .col08 {
    width: 75px;
  }
  .tbl-tables table th:last-child,
  .tbl-tables table td:last-child {
    padding-right: 0;
  }
}
@media (max-width: 639px) {
  .tbl-games {
    display: none;
  }
  .games-box {
    display: block;
  }
  .tbl-tables table {
    width: 100%;
  }
  .tbl-tables table .col07 {
    width: 0px;
  }
  .tbl-tables th:nth-child(7),
  .tbl-tables td:nth-child(7) {
    width: 0;
    font-size: 0;
    padding: 0;
  }
}
@media (max-width: 479px) {
  .item-total {
    height: 60px;
    line-height: 60px;
  }
  .item-total .team-block {
    padding-right: 60px;
  }
  .item-total .team-block + .team-block {
    padding-right: 0;
    padding-left: 60px;
  }
  .item-total .logo {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
  }
  .item-player {
    padding-left: 146px;
    font-size: 0.9em;
    height: 181px;
  }
  .item-player .photo-block {
    width: 120px;
    height: 155px;
    margin-left: -134px;
  }
  .tbl-tables table {
    width: 100%;
  }
  .tbl-tables table .col07,
  .tbl-tables table .col06,
  .tbl-tables table .col05,
  .tbl-tables table .col04 {
    width: 0px;
  }
  .tbl-tables th:nth-child(4),
  .tbl-tables td:nth-child(4),
  .tbl-tables th:nth-child(5),
  .tbl-tables td:nth-child(5),
  .tbl-tables th:nth-child(6),
  .tbl-tables td:nth-child(6) {
    width: 0;
    font-size: 0;
    padding: 0;
  }
}
@media (min-width: 480px) {
  .item-new h2,
  .item-new h3,
  .item-new .second-title {
    margin-bottom: 15px;
  }
  .result-box {
    padding-left: 120px;
    padding-right: 120px;
    font-size: 14px;
  }
  .result-box .team-block {
    margin: 0 0 0 -120px;
    width: 100px;
  }
  .result-box .team-block:last-child {
    float: right;
    margin: 0 -120px 0 0;
  }
  .result-box .team-block .logo-block {
    height: 100px;
    padding: 14px;
    line-height: 70px;
    margin-bottom: 10px;
  }
  .result-box .score-block {
    margin-top: 15px;
  }
  .result-box .score-block .score {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    border-radius: 3px;
  }
  .goals-result-box .goal-block {
    font-size: 16px;
    line-height: 26px;
    min-height: 116px;
  }
  .goals-result-box .goal-block .goal-info {
    top: 5px;
  }
  .composition-box .item-wrap {
    width: 33.3%;
  }
}
@media (min-width: 640px) {
  .item-one-player {
    padding-bottom: 34px;
    margin-bottom: 40px;
    padding-left: 262px;
    font-size: 18px;
  }
  .item-one-player .photo-block {
    width: 230px;
    max-height: 296px;
    float: left;
    margin-left: -262px;
  }
  .item-one-player h1,
  .item-one-player .main-title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: -2px;
  }
  .item-one-player .pos-block {
    margin-bottom: 12px;
  }
  .item-one-player .info-block {
    clear: none;
  }
  .item-new .photo-block {
    width: 275px;
    float: left;
    margin: 5px 22px 5px 0;
  }
  .gallery-box .item-wrap,
  .media-gallery-box .item-wrap {
    width: 50%;
  }
  .media-gallery-box .item-wrap {
    width: 49.95%;
  }
  .stat-box .item-wrap {
    width: 50%;
    float: left;
  }
  .news-box .item-wrap {
    margin-bottom: 40px;
  }
  .players-box .item-wrap {
    width: 50%;
  }
  .result-box {
    padding-left: 180px;
    padding-right: 180px;
    font-size: 14px;
  }
  .result-box .team-block {
    margin: 0 0 0 -180px;
    width: 160px;
  }
  .result-box .team-block:last-child {
    float: right;
    margin: 0 -180px 0 0;
  }
  .result-box .team-block .logo-block {
    height: 160px;
    padding: 14px;
    line-height: 130px;
    margin-bottom: 10px;
  }
  .result-box .team-block .name-block {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .result-box .team-block .location-block {
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
  }
  .result-box .score-block {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .result-box .score-block .score {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    margin-right: 30px;
  }
  .result-box .score-block .score:after {
    width: 30px;
  }
  .result-box .period-block .period {
    font-size: 24px;
    margin-right: 32px;
  }
  .result-box .period-block .period:after {
    width: 16px;
    margin-left: 8px;
  }
  .goals-result-box {
    padding-bottom: 35px;
    margin-bottom: 30px;
  }
  .goals-result-box .goal-block {
    margin-left: 0;
    margin-right: 0;
  }
  .goals-result-box .goal-block.right .players-info {
    padding-left: 65px;
  }
  .goals-result-box .goal-block .players-info {
    padding-right: 65px;
  }
  .goals-result-box .goal-block .goal-info {
    width: 73px;
    margin-left: -36px;
  }
  .goals-result-box .goal-block .score {
    font-size: 24px;
  }
  .composition-box .item-wrap {
    width: 24.99%;
  }
  .media-wrap-box {
    margin: 0 -20px;
  }
  .media-wrap-box .item-wrap {
    display: block;
    float: left;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .main-box .inner-block {
    margin: 0 -20px;
  }
  .main-box .column {
    max-width: 100%;
    padding: 0 20px;
  }
  .main-box .column ~ .column {
    width: 50%;
    float: left;
  }
}
@media (min-width: 768px) {
  .cnt-info-box .soc-block {
    margin-bottom: 0;
  }
  .cnt-info-box .soc-block .title {
    display: inline;
    margin: 0 15px 0 0;
  }
  .cnt-info-box .soc-block .buttons {
    display: inline;
    margin: 0;
  }
  .gallery-box,
  .media-gallery-box {
    margin: 0 -20px;
  }
  .gallery-box .item-wrap,
  .media-gallery-box .item-wrap {
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .media-gallery-box {
    margin: 0 -40px;
  }
  .media-gallery-box .item-wrap {
    padding: 0 40px;
  }
  .media-gallery-box .load-box {
    padding-top: 40px;
  }
  .columns-box .column {
    margin-bottom: 30px;
  }
  .columns-box .column:last-child {
    margin-bottom: 0;
  }
  .columns-box .media-gallery-box {
    margin: 0 -20px;
    overflow: hidden;
  }
  .columns-box .media-gallery-box .items-wrap {
    width: 50%;
    float: left;
    padding: 0 20px;
  }
  .columns-box .media-gallery-box .item-wrap {
    width: 100%;
    padding: 0;
  }
  .players-box {
    margin: 0 -28px 15px -28px;
  }
  .players-box .item-wrap {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .load-box {
    margin-bottom: 40px;
  }
  .stat-box {
    margin: 0 -22px;
  }
  .stat-box .item-wrap {
    margin-bottom: 45px;
    padding: 0 22px;
  }
  .result-box {
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 25px;
  }
  .result-box .team-block {
    width: 180px;
    margin-left: -220px;
  }
  .result-box .team-block:last-child {
    margin-left: 0;
    margin-right: -220px;
  }
  .result-box .team-block .logo-block {
    height: 180px;
    line-height: 150px;
  }
  .result-box .team-block .name-block {
    font-size: 24px;
  }
  .result-box .team-block .location-block {
    font-size: 16px;
  }
  .result-box .result-block .date-block {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .result-box .result-block .date-block:before {
    -ms-transform: scale(1);
    transform: scale(1);
    margin-right: 7px;
    vertical-align: -5px;
  }
  .result-box .result-block .location-block {
    font-size: 18px;
  }
  .result-box .result-block .location-block:before {
    -ms-transform: scale(1);
    transform: scale(1);
    vertical-align: -5px;
    margin-right: 7px;
  }
  .result-box .result-block .score-block .score {
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 44px;
    margin-right: 50px;
  }
  .result-box .result-block .score-block .score:last-child {
    margin-right: 0;
  }
  .result-box .result-block .score-block .score:after {
    width: 50px;
  }
  .goals-result-box {
    margin-bottom: 35px;
  }
  .composition-box .item-wrap {
    width: 19.99%;
  }
  .best-players-box {
    padding-bottom: 6px;
  }
  .best-players-box .items-wrap {
    overflow: hidden;
    margin: 0 -22px;
  }
  .best-players-box .item-wrap {
    width: 50%;
    float: left;
    padding: 0 22px;
    margin-bottom: 44px;
  }
  .best-players-box .title-block {
    margin-bottom: 30px;
  }
  .best-players-box .title-block .select-block {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 20px;
  }
  .best-players-box .title-block img {
    max-height: 100px;
  }
  .gallery-slider-box .owl-prev,
  .gallery-slider-box .owl-next {
    background-image: url(../img/spr.png);
    background-position: -108px 0px;
    width: 56px;
    height: 56px;
    margin: -28px 10px 0 10px;
  }
}
@media (min-width: 1024px) {
  .cnt-info-box .soc-block {
    margin-bottom: -8px;
    float: left;
  }
  .cnt-info-box .soc-block + .link {
    float: right;
  }
  .cnt-info-box .soc-block.center {
    text-align: center;
    float: none;
  }
  .gallery-box .item-wrap,
  .media-gallery-box .item-wrap {
    width: 33.3333%;
  }
  .media-gallery-box .item-wrap {
    width: 33.3%;
  }
  .players-box .item-wrap {
    width: 33.3333%;
  }
  .stat-box .item-wrap {
    width: 33.333%;
  }
  .composition-box .item-wrap {
    width: 16.65%;
  }
  .media-wrap-box {
    margin: 0 -25px;
  }
  .media-wrap-box .item-wrap {
    padding: 0 25px;
    margin-bottom: 50px;
  }
  .media-wrap-box .main-title {
    margin-bottom: 25px;
  }
  .columns-box {
    padding-bottom: 0;
  }
  .columns-box .column {
    width: 63%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .columns-box .column + .column {
    width: 30%;
    float: right;
    margin: 0;
    padding: 0;
  }
  .columns-box .players-box .item-wrap {
    width: 100%;
    margin-bottom: 28px;
    padding-right: 0;
  }
  .columns-box .players-box .item-wrap:last-child {
    margin-bottom: 0;
  }
  .columns-box .media-gallery-box {
    margin: 0 -35px;
  }
  .columns-box .media-gallery-box .items-wrap {
    padding: 0 35px;
  }
  .tables-box .items-wrap {
    margin: 0 -25px;
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .tables-box .item-wrap {
    width: 100%;
    padding: 0 25px;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .tables-box .tbl-tables table .col01 {
    width: 40px;
  }
  .tables-box .tbl-tables table .col03,
  .tables-box .tbl-tables table .col04,
  .tables-box .tbl-tables table .col05,
  .tables-box .tbl-tables table .col06 {
    width: 42px;
  }
  .tables-box .tbl-tables table .col07 {
    width: 60px;
  }
  .tables-box .tbl-tables table .col08 {
    width: 60px;
  }
  .tables-box .tbl-tables table th,
  .tables-box .tbl-tables table td {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }
  .tables-box .tbl-tables table th:nth-child(2),
  .tables-box .tbl-tables table td:nth-child(2) {
    text-align: left;
  }
  .best-players-box .item-wrap {
    width: 33.333%;
  }
  .main-box .inner-block {
    margin: 0 -10px;
  }
  .main-box .column {
    float: left;
    width: 33.3333% !important;
    padding: 0 10px;
    margin-bottom: 0;
  }
  .news-list-box .item-wrap {
    margin-bottom: 31px;
  }
  .news-list-box .link-block {
    margin-top: -10px;
  }
}


.item-gallery .inner-block {
  background: #000;
  position: relative;
  padding-top: 66.5%;
}
.item-gallery .inner-block img {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: -webkit-translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.gallery-slider-box .main-slider img {
  display: block;
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  overflow: hidden;
  left: 12%;
}