/* ----------------------------------- *\
			forms styles
\* ----------------------------------- */
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	height: 38px;
	border-radius: 2px;
	border: 1px solid @clr-border;
	background: #fff;
	padding: 0 10px;
	font-size: 14px;
	color: #383838;
}
textarea {
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	resize: none;
}
select {
	display: block;
	width: 100%;height: 38px;
	border: 1px solid @clr-border;
	border-radius: 2px;
	color: #383838;
	font-size: 14px;
	padding-left: 10px;
	-webkit-appearance: none;
	line-height: 1em;
	background-color: #fff;
	background-image: url(../img/main/select.png);
	background-position: right center;
	background-repeat: no-repeat;
	text-indent: 0.01px; 
	text-overflow: '';
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none!important;
	outline: none;
}
select::-ms-expand {
	display: none;
}
body {
	.ui-selectmenu-button {
		width: 100% !important;
		padding: 0;
		outline: none;
		span.ui-selectmenu-text {
			outline: none;
			height: 38px;
			padding: 0 30px 0 10px;
			font-size: 14px;
			line-height: 36px;
			color: #383838;
			border: 1px solid @clr-border;
			border-radius: 2px;
			background: #fff;
		}
		span.ui-icon {
			.i;.i-a03;
			position: absolute;
			top: 50%;right: 12px;
			margin: -3px 0 0 -6px;
		}
		&.ui-corner-top {
			span.ui-selectmenu-text {
				border-radius: 2px 2px 0 0;
			}
			span.ui-icon {
				.t-rotate(180deg);
			}
		}
	}
	.ui-menu {
		border: 1px solid @clr-border;
		border-top: none;
		background: #fff;
		border-radius: 0 0 2px 2px;
		padding: 0;
		margin: 0;
		.ui-menu-item {
			margin: 0;
			padding: 5px 10px;
			font-size: 14px;
			line-height: 20px;
			color: #383838;
			&:hover, &.ui-state-focus {
				margin: 0;
				padding: 5px 10px;
				background: #f3f3f3;
			}
		}
	}
}
.frm-bg {
	background: #f3f3f3;
	.ui-selectmenu-button {
		span.ui-selectmenu-text {
			color: #333;
			background: #f3f3f3;
		}
	}
	.ui-menu {
		background: #f3f3f3;
		.ui-menu-item {
			color: #333;
			&:hover, &.ui-state-focus {
				background: #fff;
			}
		}
	}
	select,
	textarea,
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="password"] {
		color: #333;
	}
	[placeholder]::-webkit-input-placeholder {color: #333;}
	[placeholder]:-moz-placeholder {color: #333;}
	[placeholder]::-moz-placeholder {color: #333;}
	[placeholder]:-ms-input-placeholder {color: #333;}
}
.frm-dark {
	.ui-selectmenu-button {
		span.ui-selectmenu-text {
			color: #fff;
			background: #090909;
			border-color: #4b4b4b;
		}
	}
	.ui-menu {
		background: #090909;
		border-color: #4b4b4b;
		.ui-menu-item {
			color: #fff;
			&:hover, &.ui-state-focus {
				background: #f3a217;
			}
		}
	}
	select,
	textarea,
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="password"] {
		color: #fff;
		border-color: #4b4b4b;
	}
	[placeholder]::-webkit-input-placeholder {color: #fff;}
	[placeholder]:-moz-placeholder {color: #fff;}
	[placeholder]::-moz-placeholder {color: #fff;}
	[placeholder]:-ms-input-placeholder {color: #fff;}
}
.btn,
button,
input[type="submit"] {
	height: 38px;
	line-height: 38px;
	border-radius: 2px;
	border: none;
	padding: 0 20px;
	background: @clr-bg;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: #fff;
		background: @clr-bg+#111;
	}
	&.btn-secondary {
		height: 50px;
		line-height: 50px;
		padding: 0 30px;
		background: #f3f3f3;
		font-size: 16px;
		font-weight: 400;
		color: #333;
		&:hover {
			color: #333;
			background: #f3f3f3 - #111;
		}
	}
	&.btn-loader {
		&:after {
			content: "";
			.i;.i-ico-load;
			margin-left: 18px;
		}
	}
}
.frm-date {
	color: @clr-att;
	text-transform: uppercase;
	font-weight: 600;
}
.frm-count {
	border-radius: 3px;
	display: block;
	vertical-align: middle;
	position: relative;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	background: fade(#000000, 80);
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	padding: 0 10px 0 32px;
	min-width: 68px;
	&:before {
		content: "";
		.i;.i-ico-photo;
		position: absolute;
		top: 50%;left: 9px;
		margin-top: -6px;
	}
}
.frm-points {
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	vertical-align: top;
	font-size: 16px;
	line-height: 1;
	font-weight: bold;
	color: @clr-base;
	text-decoration: none;
	.points {
		display: block;
		font-size: 46px;
		line-height: 1;
	}
}
.frm-number {
	display: block;
	width: 40px;height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background: #fba819;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	&.small {
		font-size: 14px;
		width: 28px;height: 28px;
		line-height: 28px;
	}
}
.w310 {width: 310px;}
.w170 {width: 170px;}
.w210 {width: 210px;}
.btn-stat {
	.i;.i-ico-stat;
}