/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i-a01 {
  background-image: url(../img/spr.png);
  background-position: -258px -112px;
  width: 7px;
  height: 11px;
}
.i-a02 {
  background-image: url(../img/spr.png);
  background-position: -258px -143px;
  width: 6px;
  height: 11px;
}
.i-a03 {
  background-image: url(../img/spr.png);
  background-position: -258px -174px;
  width: 11px;
  height: 6px;
}
.i-blank {
  background-image: url(../img/spr.png);
  background-position: -258px -200px;
  width: 1px;
  height: 1px;
}
.i-ico-close {
  background-image: url(../img/spr.png);
  background-position: 0px -182px;
  width: 22px;
  height: 22px;
}
.i-ico-date {
  background-image: url(../img/spr.png);
  background-position: -84px -182px;
  width: 22px;
  height: 22px;
}
.i-ico-load {
  background-image: url(../img/spr.png);
  background-position: -108px -76px;
  width: 36px;
  height: 10px;
}
.i-ico-location {
  background-image: url(../img/spr.png);
  background-position: -218px 0px;
  width: 20px;
  height: 23px;
}
.i-ico-photo {
  background-image: url(../img/spr.png);
  background-position: -258px -80px;
  width: 14px;
  height: 12px;
}
.i-ico-play-main {
  background-image: url(../img/spr.png);
  background-position: 0px 0px;
  width: 88px;
  height: 88px;
}
.i-ico-play {
  background-image: url(../img/spr.png);
  background-position: 0px -108px;
  width: 54px;
  height: 54px;
}
.i-ico-slider-small {
  background-image: url(../img/spr.png);
  background-position: -74px -108px;
  width: 28px;
  height: 28px;
}
.i-ico-slider {
  background-image: url(../img/spr.png);
  background-position: -108px 0px;
  width: 56px;
  height: 56px;
}
.i-ico-stat {
  background-image: url(../img/spr.png);
  background-position: -42px -182px;
  width: 22px;
  height: 22px;
}
.i-soc01-h {
  background-image: url(../img/spr.png);
  background-position: 0px -224px;
  width: 31px;
  height: 18px;
}
.i-soc01 {
  background-image: url(../img/spr.png);
  background-position: -51px -224px;
  width: 31px;
  height: 18px;
}
.i-soc02-h {
  background-image: url(../img/spr.png);
  background-position: -218px -43px;
  width: 11px;
  height: 22px;
}
.i-soc02 {
  background-image: url(../img/spr.png);
  background-position: -218px -85px;
  width: 11px;
  height: 22px;
}
.i-soc03-h {
  background-image: url(../img/spr.png);
  background-position: -258px 0px;
  width: 25px;
  height: 20px;
}
.i-soc03 {
  background-image: url(../img/spr.png);
  background-position: -258px -40px;
  width: 25px;
  height: 20px;
}
.i-soc04-h {
  background-image: url(../img/spr.png);
  background-position: -126px -182px;
  width: 32px;
  height: 20px;
}
.i-soc04 {
  background-image: url(../img/spr.png);
  background-position: -178px -182px;
  width: 32px;
  height: 20px;
}
.i-soc05-h {
  background-image: url(../img/spr.png);
  background-position: -122px -108px;
  width: 14px;
  height: 23px;
}
.i-soc05 {
  background-image: url(../img/spr.png);
  background-position: -184px 0px;
  width: 14px;
  height: 23px;
}
