
@clr-base: #171717;
@clr-border: #d7d7d7;
@clr-att: #ffba00;
@clr-light: #6f6f6f;
@clr-bg: #fba819;

@min: 320px;
@max: 1024px;

/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
	color: @clr-base;
	background: #fff;
	font-size: 16px;
	line-height: 1.62;
}
p {
	margin-bottom: 37px;
}
a {
	color: #ffba00;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}
h1,
.main-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 25px;
	a {
		text-decoration: none;
		color: #333;
		&:hover {
			text-decoration: underline;
		}
	}
}
h2,
.second-title {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
	line-height: 1.17;
	a {
		text-decoration: none;
		color: #333;
		&:hover {
			text-decoration: underline;
		}
	}
}
h3,
.small-title {
	font-size: 20px;
	font-weight: 400;
	color: #333333;
	line-height: 1.2;
	margin-bottom: 15px;
	a {
		text-decoration: none;
		color: #333;
		&:hover {
			text-decoration: underline;
		}
	}
}
.center {
	text-align: center;
	text-transform: uppercase;
}
.title-wrap-block {
	overflow: hidden;
	margin-bottom: 20px;
	.select-block {
		position: relative;
		margin-bottom: 10px;
		max-width: 100%;
	}
	h1, h2,
	.main-title,
	.second-title {
		margin-bottom: 10px;
	}
}
.line-title-block {
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	&.one {
		h1, h2, h3, h4 {
			&:before {
				height: 1px;
				margin-top: -2px;
			}
		}
	}
	h1, h2, h3, h4 {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		color: #333333;
		line-height: 22px;
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding-right: 15px;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 1200px;height: 3px;
			background: @clr-border;
			position: absolute;
			left: 100%;top: 50%;
			margin-top: -2px;
		}
	}
}
p {
	img {
		width: 100%;
		display: block;
	}
}
.f-left {
	float: left;
	max-width: 50%;
	margin: 0 22px 5px 0;
}
.f-right {
	float: right;
	margin: 0 0 5px 22px;
	max-width: 50%;
}
.main-pic {
	display: block;
	width: 100%;
	margin-bottom: 37px;
}
hr {
	clear: both;
	display: block;
	width: 100%;
	overflow: hidden;
	outline: none;
	background: #d7d7d7;
	border: none;
	border-radius: 0;
	margin: 0 0 30px 0;
}
.breadcrumbs-box {
	margin-bottom: 30px;
	padding-top: 20px;
	.title {
		display: block;
	}
	.links {
		display: block;
		margin: 0 -30px 0 0;
		color: #6f6f6f;
		a {
			display: inline-block;
			position: relative;
			margin-right: 28px;
			color: #6f6f6f;
			&:before {
				content: "";
				.i;.i-a01;
				position: absolute;
				top: 50%;left: 100%;
				margin-left: 11px;
				margin-top: -4px;
			}
		}
		span {
			margin-right: 28px;
		}
	}
}
.video-block {
	display: block;
	text-decoration: none;
    position: relative;
    padding-bottom: 50.9%;
    height: 0;
    overflow: hidden;
    img {
    	display: block;
    	position: absolute;
    	top: 0;left: 0;
    	width: 100%;
    }
    &:before {
    	content: "";
    	display: block;
    	position: absolute;
    	top: 0;bottom: 0;left: 0;right: 0;
    	background: fade(#000000, 40);
    	z-index: 1;
    }
    &:after {
    	content: "";
    	.i;.i-ico-play;
    	position: absolute;
    	top: 50%;left: 50%;
    	margin: -27px 0 0 -27px;
    	z-index: 2;
    }
}
.video-block iframe,  
.video-block object,  
.video-block embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.light-text {color: #a7a7a7;}
.att-text {color: @clr-att;}
@media (max-width: 479px) {
	h1,
	.main-title {
		font-size: 20px;
	}
	h2,
	.second-title {
		font-size: 20px;
		margin-bottom: 10px;
	}
	h3,
	.small-title {
		font-size: 18px;
	}
}
table {
	width: 100%;
	border-collapse: collapse;
	color: #333;
	line-height: 20px;
	margin-bottom: 30px;
	th {
		font-weight: bold;
		text-align: center;
		padding: 15px 10px;
		border-bottom: 3px solid #ffba00;
		background: #f3f3f3;
		border-top: 1px solid @clr-border;
		vertical-align: middle;
		&:first-child {
			border-radius: 3px 0 0 0;
			border-left: 1px solid @clr-border;
		}
		&:last-child {
			border-radius: 0 3px 0 0;
			border-right: 1px solid @clr-border;
		}
	}
	td {
		vertical-align: top;
		padding: 15px 10px;
		background: #fff;
		border: none;
		&:first-child {
			border-left: 1px solid @clr-border;
		}
		&:last-child {
			border-right: 1px solid @clr-border;
		}
	}
	tr:last-child {
		td {
			border-bottom: 1px solid @clr-border;
			&:first-child {
				border-radius: 0 0 0 3px;
			}
			&:last-child {
				border-radius: 0 0 3px 0;
			}
		}
	}
	tr:nth-child(2n) {
		td {
			background: #f3f3f3;
		}
	}
}
@media (max-width: 639px) {
	.f-right,
	.f-left {
		float: none;
		width: 100%;
		margin: 0 0 37px 0;
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	body {
		font-size: 15px;
		line-height: 1.5;
	}
}
@media (min-width: 640px) {
	
	.title-wrap-block {
		margin-bottom: 20px;
		h1 {
			line-height: 38px;
			float: left;
			margin: 0 25px 10px 0;
		}
		.select-block {
			float: left;
			margin: 0 10px 10px 0;
		}
	}
}
@media (min-width: 768px) {
	.breadcrumbs-box {
		overflow: hidden;
		margin-left: 0;
		margin-right: -60px;
		.title {
			display: inline;
			margin-right: 20px;
			margin-bottom: 0;
		}
		.links {
			display: inline;
			margin: 0;
			a {
				margin-right: 58px;
				&:before {
					margin-left: 26px;
				}
			}
			span {
				margin-right: 58px;
			}
		}
	}
}
@media (min-width: 1024px) {
	.video-block.main:after {
		.i-ico-play-main;
		margin: -44px 0 0 -44px;
	}
}