/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html, body {margin:0;padding:0;width:100%;height:100%;}
.empty {
	display: block;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	height: 120px;
}
.inner-wrap, .page {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 0 17px;
	min-width: @min;
	max-width: @max;
}
.page {
	margin-bottom: 50px;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
	position: relative;
	clear: both;
	min-width: @min;
}
.wrap {
	overflow: hidden;
	min-height: 100%;
}
.header {
	background: #171717;
	color: #fff;
	z-index: 9;
	font-size: 14px;
	line-height: 1.2;
	.inner-wrap {
		height: 60px;
	}
	.logo {
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 20px;left: 17px;
		overflow: hidden;
		line-height: 1;
		width: 80px;
		img {
			max-width: 100%;
		}
	}
	.logo-text {
		display: block;
		position: relative;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		text-decoration: none;
		position: absolute;
		top: 20px;left: 100px;
	}
}
.footer {
	overflow: hidden;
	border-top: 3px solid #faa719;
	background: #171717;
	font-size: 16px;
	color: #707070;
	line-height: 1.2;
	height: 120px;
	margin-top: -120px;
	.inner-wrap {
		height: 117px;
		overflow: hidden;
		padding: 0 17px 0 130px;
		line-height: 117px;
	}
	.logo {
		display: block;
		float: left;
		position: absolute;
		top: 24px;left: 17px;
		width: 77px;
		line-height: 1;
		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			max-height: 100%;
		}
	}
	.inner-block {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		overflow: hidden;
		font-size: 13px;
		line-height: 1.2;
	}
	.copy-block {
		margin-bottom: 10px;
	}
	a {
		color: #ffba00;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.nav {
	background: @clr-bg;
	font-size: 14px;
	line-height: 1.2;
	&:hover {
		z-index: 8;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		padding: 0;
		margin: 0;
		&:before {display: none;}
	}
}
@media (max-width: 767px) {
	.nav {
		.inner-wrap {padding: 0;}
	}
	.main-menu-wrap {
		position: relative;
		text-align: left;
		.btn-menu {
			display: block;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			&:hover, 
			&.active {
				color: #000;
			}
		}
		.menu-block {
			display: none;
			background: @clr-bg;
			padding: 17px 0;
			font-size: 16px;
			font-weight: 600;
			color: #fff;
			line-height: 20px;
		}
		ul {
			margin: 0;
			padding: 0;
			ul {
				display: none;
				animation: fadein ease 0.3s;
			}
		}
		li {
			margin: 0;
			padding: 0;
			&:before {display: none;}
			a {
				display: block;
				position: relative;
				padding: 10px 17px;
				text-decoration: none;
				color: #fff;
				&:hover,
				&.active {
					color: #000000;
					text-decoration: none;
				}
			}
			&.open {
				&>a {
					color: #000000;
				}
				ul {
					display: block;
				}
			}
			li {
				a {
					font-size: 14px;
					padding: 5px 17px 5px 30px;
				}
			}
		}
	}
}
@media (min-width: 480px) {
	.header {
		.logo-text {
			font-size: 20px;
			top: 15px;
		}
	}
}
@media (min-width: 768px) {
	.header {
		.inner-wrap {
			height: 120px;
		}
		.logo {
			width: 172px;
			top: 40px;left: 0px;
		}
		.logo-text {
			font-size: 34px;
			line-height: 40px;
			top: 34px;left: 212px;
		}
	}
	.main-menu-wrap {
		padding-left: 195px;
		.btn-menu {display: none;}
		.menu-block {
			&>ul {
				text-align: justify;
				height: 106px;
				line-height: 106px;
				&:after {content:"";display: inline-block;width:100%;height:0;overflow: hidden;font-size: 0;line-height: 0;}
				&>li {
					display: inline-block;
					vertical-align: top;
					position: relative;
					&:hover {
						&>a {
							color: #000;
							text-decoration: none;
						}
						ul {
							display: block;
						}
					}
					&>a {
						display: inline-block;
						vertical-align: top;
						height: 106px;
						line-height: 106px;
						white-space: nowrap;
						font-size: 16px;
						font-weight: 600;
						color: #fff;
						text-decoration: none;
						&:hover {
							color: #000;
							text-decoration: none;
						}
					}
				}
				ul {
					display: none;
					animation: fadein ease 0.3s;
					position: absolute;
					top: 100%;left: 50%;
					padding: 35px 15px 15px 15px;
					width: 240px;
					margin-left: -120px;
					font-size: 18px;
					line-height: 25px;
					&:before {
						content: "";
						display: block;
						position: absolute;
						bottom: 0;left: 0;right: 0;top: 20px;
						border: 1px solid @clr-border;
						background: fade(#fff, 98);
					}
					&:after {
						content: "";
						display: block;
						position: absolute;
						top: 0;left: 50%;
						width: 0;height: 0;
						border: 10px solid fade(#000, 0);
						border-top-color: @clr-bg;
						margin-left: -10px;
					}
					li {
						margin-bottom: 20px;
						text-align: center;
						position: relative;
						&:last-child {
							margin-bottom: 0;
						}
					}
					a {
						display: inline-block;
						font-size: 16px;
						line-height: 25px;
						color: #000000;
						text-decoration: none;
						font-weight: 400;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.footer {
		.inner-wrap {
			padding: 0 17px 0 17px;
		}
		.inner-block {
			text-align: center;
			position: relative;
			min-height: 20px;
			line-height: 20px;
			font-size: 16px;
			padding-right: 25px;
		}
		.copy-block {
			padding: 0 160px;
			text-align: center;
			margin: 0;
		}
		.mail-block {
			position: absolute;
			top: 0;right: 0;
			float: left;
			margin: 0;
		}
	}
}
@media (min-width: 1024px) {
	.main-menu-wrap {
		.menu-block>ul {
			&>li {
				&>a {
					font-size: 20px;
				}
			}
			ul {
				font-size: 18px;
				padding-bottom: 30px;
				padding-top: 45px;
				a {
					font-size: 18px;
				}
			}
		}
	}
}
@media (min-width: 1100px) {
	.main-menu-wrap {
		.menu-block {
			margin: 0 -17px 0 0;
		}
	}
}