@charset "UTF-8";
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
.i {
	display: inline-block;
	vertical-align: middle;
	transition: none;
}
@import 'mixin.less';
@import 'main.less';
@import 'structura.less';
@import 'fonts.less';
@import 'icons.less';
@import 'forms.less';
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
.btn-toggle.active+.popup-block {display: block !important;}
.popup-block {animation: fadein ease 0.3s;}
.ico-block {
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 2px;
	text-decoration: none;
	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
	}
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.item-match {
	display: block;
	overflow: hidden;
	position: relative;
	height: 130px;
	border: 1px solid #0a0a0a;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 20px 100px 0 100px;
	overflow: hidden;
	line-height: 1;
	margin: 0 auto;
	&.future {
		.score {
			color: #6e6e6e;
			&:before {
				content: ":";
			}
		}
		&:hover {
			border-color: #0a0a0a;
		}
	}
	&:hover {
		border-color: #727272;
		text-decoration: none;
	}
	.logo {
		display: block;
		width: 54px;height: 54px;
		line-height: 54px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		margin: 0 auto 17px auto;
	}
	.team-block {
		display: block;
		width: 100px;
		padding: 0 5px;
		float: left;
		margin-left: -100px;
		&:last-child {
			margin-left: 0;
			margin-right: -100px;
			float: right;
		}
	}
	.result-block {
		width: 100%;
		display: block;
		float: left;
	}
	.score {
		font-size: 36px;
		color: @clr-att;
		font-weight: 600;
		display: block;
		height: 44px;
		line-height: 44px;
	}
	.date {
		font-size: 12px;
		color: #b3b3b3;
		white-space: nowrap;
	}
}
.item-text-new {
	line-height: 1.38;
	color: #fff;
	.frm-date {
		font-size: 14px;
		margin-bottom: 8px;
	}
	a {
		text-decoration: none;
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin: 0;
	}
}
.item-game {
	font-size: 14px;
	line-height: 1.25;
	text-align: center;
	border: 1px solid @clr-border;
	border-left-color: #fff;
	border-right-color: #fff;
	padding: 10px;
	position: relative;
	&:hover {
		background: #fdf8f0;
		z-index: 2;
		box-shadow: 0 2px 10px fade(#000, 20);
		border-left-color: @clr-border;
		border-right-color: @clr-border;
	}
	.item-total {
		margin-bottom: -10px;
		padding: 0;
	}
	.score {
		text-align: center;
		font-size: 36px;
		font-weight: 600;
		line-height: 50px;
		color: #ffba00;
	}
	.title,
	.val {
		display: inline;
	}
	.link {
		display: block;
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		z-index: 3;
	}
}
.item-total {
	height: 74px;
	line-height: 74px;
	font-size: 18px;
	overflow: hidden;
	.team-block {
		width: 50%;
		float: left;
		text-align: right;
		padding-right: 85px;
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 8px;height: 1px;
			background: @clr-border;
			position: absolute;
			top: 50%;left: 100%;
			margin: -1px 0 0 -4px;
		}
		&.winner {
			font-weight: bold;
		}
		&+.team-block {
			padding-right: 0;
			padding-left: 85px;	
			text-align: left;
			&:before {display: none;}
			.logo {
				right: auto;left: 13px;
			}
		}
	}
	.name {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.25;
		width: 100%;
	}
	.logo {
		display: block;
		width: 54px;height: 54px;
		margin-top: -27px;
		text-align: center;
		line-height: 1px;
		border-radius: 50%;
		overflow: hidden;
		background: #fff;
		font-size: 10px;
		// border: 1px solid @clr-border;
		position: absolute;
		top: 50%;right: 13px;
		img {
			display: block;
			width: 100%;
		}
	}
}
.item-player-small {
	display: block;
	max-width: 150px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: @clr-base;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	line-height: 1.25;
	.photo-block {
		display: block;
		width: 78px;height: 100px;
		border: none;
		line-height: 1;
		overflow: hidden;
		border-radius: 3px;
		position: relative;
		text-decoration: none;
		margin: 0 auto 15px auto;
		background: url(../img/main/blank01.jpg) center no-repeat;
		background-size: 100% 100%;
		img {
			display: block;
			width: 100%;
		}
	}
	.frm-number {
		display: block;
		position: absolute;
		top: 100px;left: 50%;
		margin-top: -14px;
		margin-left: -14px;
		text-decoration: none;
	}
}
a.item-player-small:hover {
	text-decoration: underline;
}
.item-stat {
	table {
		margin: 0;
		table-layout: fixed;
		.col02 {width: 60px;}
		th {
			text-align: left;
		}
		td {
			&:last-child {
				text-align: center;
			}
		}
	}
}
.item-one-player {
	display: block;
	position: relative;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 35px;
	border-bottom: 3px solid @clr-border;
	font-size: 14px;
	.photo-block {
		display: block;
		width: 100px;
		max-height: 128px;
		overflow: hidden;
		border-radius: 3px;
		position: relative;
		line-height: 1;
		text-decoration: none;
		float: left;
		margin: 0 15px 15px 0;
		img {
			display: block;
			width: 100%;
		}
	}
	h1,
	.main-title {
		margin-bottom: 0px;
		font-size: 16px;
	}
	.pos-block {
		font-weight: 600;
		color: @clr-att;
	}
	.info-block {
		clear: both;
		line-height: 38px;
	}
	.frm-number {
		display: inline-block;
		margin: -1px 0 -1px 5px;
	}
	.soc-block {
	}
	.buttons {
		margin: 0 -9px 0 0;
		overflow: hidden;
	}
	.item-soc {
		float: left;
		margin: 0 9px 9px 0;
	}
}
.item-soc {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	font-weight: 400;
	width: 95px;height: 40px;
	border: 1px solid #5175a5;
	font-size: 16px;
	border-radius: 20px;
	padding: 0 0 0 38px;
	color: #5075a5;
	text-decoration: none;
	line-height: 40px;
	&.small {
		width: 64px;
		line-height: 38px;
		text-align: center;
		padding: 0;
		&:before {
			left: 50%;
		}
	}
	&.logo {
		padding: 0;
		text-align: center;
		line-height: 38px;
		border-color: #2e278b;
		&:hover {
			background: #2e278b+#444;
			border-color: #2e278b+#444;
		}
		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 90%;
			max-height: 90%;
		}
		&:before {
			display: none;
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: 50%;left: 30px;
		.i;.i-soc01;
		margin: -9px 0 0 -16px;
	}
	&:hover {
		background: #5175a5;
		color: #fff !important;
		&:before {
			.i-soc01-h;
		}
	}
	&.soc02 {
		border-color: #39579a;
		color: #39579a;
		&:before {.i-soc02;margin: -11px 0 0 -6px;}
		&:hover {
			background: #39579a;
			&:before {
				.i-soc02-h;
			}
		}
	}
	&.soc03 {
		border-color: #059ff5;
		color: #059ff5;
		&:before {.i-soc03;margin: -10px 0 0 -13px;}
		&:hover {
			background: #059ff5;
			&:before {
				.i-soc03-h;
			}
		}
	}
	&.soc04 {
		border-color: #dd4d3a;
		color: #dd4d3a;
		&:before {.i-soc04;margin: -10px 0 0 -16px;}
		&:hover {
			background: #dd4d3a;
			&:before {
				.i-soc04-h;
			}
		}
	}
	&.soc05 {
		border-color: #f88200;
		color: #f88200;
		&:before {.i-soc05;margin: -12px 0 0 -7px;}
		&:hover {
			background: #f88200;
			&:before {
				.i-soc05-h;
			}
		}
	}
}
.item-gallery {
	display: block;
	position: relative;
	overflow: hidden;
	line-height: 1;
	text-decoration: none;
	.inner-block {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 50%;
	}
	img {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 100%;
	}
}
.item-media {
	display: block;
	position: relative;
	overflow: hidden;
	line-height: 1;
	font-size: 0;
	.photo-block,
	.video-block {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 0;
		padding-bottom: 50.8% !important;
	}
	img {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 100%;
	}
	.frm-count {
		position: absolute;
		bottom: 8px;left: 8px;
	}
}
.item-mgallery {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-decoration: none;
	&:hover {
		.title-block {
			text-decoration: underline;
		}
	}
	.photo-block {
		display: block;
		width: 100%;height: 0;
		position: relative;
		overflow: hidden;
		padding-top: 50.9%;
		margin-bottom: 10px;
		img {
			position: absolute;
			top: 0;left: 0;
			width: 100%;
		}
	}
	.video-block {
		display: block;
		margin-bottom: 10px;
	}
	.title-block {
		display: block;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 5px;
		color: #171717;
		a {
			color: #171717;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.frm-date {
		display: block;
		font-size: 14px;
	}
	.frm-count {
		display: block;
		float: left;
		position: absolute;
		bottom: 8px;left: 8px;
		z-index: 2;
	}
}
.item-new {
	overflow: hidden;
	.frm-date {
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: 600;
	}
	.photo-block {
		line-height: 1;
		overflow: hidden;
		margin-bottom: 20px;
		img {
			display: block;
			width: 100%;
		}
	}
	p {margin: 0;}
}
.item-player {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 12px 12px 12px 166px;
	text-decoration: none;
	line-height: 1.38;
	color: #333333;
	height: 206px;
	&.main {
		border-color: #171717;
		color: #fff;
		text-decoration: none;
		height: 168px;
		padding-left: 138px;
		.photo-block {
			height: 140px;
			width: 110px;
			margin-left: -126px;
		}
		&:hover {
			border-color: #727272;
		}
		.date-block {
			display: block;
			font-size: 14px;
			color: @clr-att;
			text-transform: uppercase;
			font-weight: 600;
			margin-top: 8px;
		}
		.age-block {
			display: block;
			font-size: 18px;
			margin-top: 8px;
		}
	}
	&:hover {
		border-color: @clr-border;
	}
	.frm-points {
		width: 100px;
		margin: 0 auto;
		display: block;
	}
	.photo-block {
		display: block;
		float: left;
		width: 140px;height: 180px;
		float: left;
		margin-left: -154px;
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		background: url(../img/main/blank01.jpg) center no-repeat;
		background-size: 100% 100%;
		img {
			display: block;
			width: 100%;
		}
	}
	a {
		color: #333333;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.name-block {
		display: block;
		margin-bottom: 5px;
	}
}
.cnt-info-box {
	overflow: hidden;
	border-bottom: 1px solid @clr-border;
	padding-bottom: 20px;
	margin-bottom: 20px;
	&.bottom {
		padding-top: 28px;
		margin-bottom: 30px;
		border-bottom: none;
		border-top: 1px solid @clr-border;
	}
	.soc-block {
		margin-bottom: 15px;
		&+.link {
			float: none;
		}
		.title {
			line-height: 40px;
			display: block;
			color: #6f6f6f;
		}
		.item-soc {
			margin: 0 8px 8px 0;
			display: inline-block;
			vertical-align: top;
		}
		.buttons {
			font-size: 0;
			margin: 0 -8px 0 0;
		}
	}
	.frm-date {
		float: left;
	}
	.link {
		float: right;
		a {
			color: @clr-light;
		}
	}
}
.stat-box {
	margin: 0 -20px 40px -20px;
	overflow: hidden;
	.item-wrap {
		margin-bottom: 20px;
		padding: 0 20px;
	}
}
.gallery-box,
.media-gallery-box {
	overflow: hidden;
	margin: 0 -10px;
	.item-wrap {
		display: block;
		float: left;
		width: 100%;
		padding: 0 10px;
		margin-bottom: 20px;
	}
}
.media-gallery-box {
	font-size: 0;
	.item-wrap {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.load-box {
		border-top: 1px solid @clr-border;
		padding-top: 20px;
		&.active~.item-wrap {
			display: inline-block;
		}
	}
}
.news-box {
	.item-wrap {
		margin-bottom: 40px;
	}
	.load-box {
		padding-top: 40px;
		border-top: 1px solid @clr-border;
		margin-bottom: 40px;
	}
}
.players-box {
	margin: 0 -18px 10px -18px;
	overflow: hidden;
	position: relative;
	.item-wrap {
		display: block;
		float: left;
		width: 100%;
		padding: 0 5px;
		margin-bottom: 15px;
	}
}
.load-box {
	clear: both;
	text-align: center;
	margin-bottom: 20px;
	&~.item-wrap {
		display: none;
		animation: fadein ease 0.3s;
	}
	&.active {
		display: none;
		&~.item-wrap {
			display: block;
		}
	}
}
.tbl-tables table {
	text-align: center;
	table-layout: fixed;
	.col01 {width: 45px;}
	.col03,
	.col04,
	.col05,
	.col06 {
		width: 70px;
	}
	.col07 {width: 90px;}
	.col08 {width: 115px;}
	th,
	td {
		&:last-child {
			padding-right: 25px;
		}
		&:first-child {
			padding-left: 0;
			padding-right: 0;
		}
		&:nth-child(2) {
			padding-left: 0;
			text-align: left;
		}
	}
	.tr-link {
		text-align: center;
		td {
			font-size: 16px;
			text-align: center;
			height: 50px;
			border-bottom: 1px solid @clr-border;
		}
		a {
			color: fade(#6f6f6f, 60);
		}
		&~tr {
			display: none;
		}
	}
}
.tables-box {
	padding-top: 35px;
	margin-bottom: 20px;
	.items-wrap {
		overflow: hidden;
	}
	.main-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 25px;
	}
}
.result-box {
	padding: 0 60px 20px 60px;
	border-bottom: 3px solid @clr-border;
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 1.25;
	&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0;}
	.team-block {
		float: left;
		width: 50px;
		margin-left: -60px;
		text-align: center;
		&:last-child {
			margin-left: 0;
			margin-right: -60px;
			float: right;
		}
		.logo-block {
			display: block;
			height: 60px;
			padding: 10px;
			text-align: center;
			line-height: 40px;
			border: 1px solid @clr-border;
			margin-bottom: 5px;
			text-decoration: none;
			img {
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.name-block {
			font-weight: bold;
			margin: 0 -10px;
		}
		.location-block {
			font-size: 12px;
			color: #6f6f6f;
			margin: 0 -15px;
		}
	}
	.result-block {
		display: block;
		width: 100%;
		float: left;
		padding: 0px;
		text-align: center;
		.location-block {
			color: #161616;
			a {
				color: #161616;
			}
			&:before {
				content: "";
				.i;.i-ico-location;
				margin-right: 5px;
				vertical-align: -7px;
				.t-scale(0.9);
			}
		}
		.date-block {
			font-weight: bold;
			&:before {
				content: "";
				.i;.i-ico-date;
				margin-right: 5px;
				vertical-align: -6px;
				.t-scale(0.8);
			}
		}
	}
	.score-block {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 0;
		.score {
			display: inline-block;
			vertical-align: top;
			width: 30px;height: 30px;
			text-align: center;
			line-height: 30px;
			background: @clr-bg;
			font-size: 14px;
			font-weight: 600;
			position: relative;
			margin: 0 20px 0 0;
			color: #fff;
			&:after {
				content: ":";
				display: inline-block;
				vertical-align: top;
				width: 20px;height: 30px;
				text-align: center;
				color: #cacaca;
				font-weight: 600;
				position: absolute;
				top: 0;left: 100%;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
		}
	}
	.period-block {
		font-size: 0;
		.period {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			font-weight: bold;
			position: relative;
			margin-right: 20px;
			&:after {
				content: "";
				display: block;
				width: 12px;height: 1px;
				background: #cacaca;
				position: absolute;
				top: 50%;left: 100%;
				margin-top: -2px;
				margin-left: 4px;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
		}
	}
}
.goals-result-box {
	border-bottom: 3px solid @clr-border;
	padding-bottom: 20px;
	margin-bottom: 25px;
	.period-title {
		display: block;
		width: 140px;height: 40x;
		border-radius: 2px;
		line-height: 38px;
		border: 1px solid @clr-border;
		margin: 0 auto 50px auto;
		position: relative;
		text-align: center;
		font-size: 18px;
		color: #333;
		&:before {
			content: "";
			display: block;
			width: 1px;height: 40px;
			position: absolute;
			top: 100%;left: 50%;
			background: @clr-border;
		}
	}
	.goal-block {
		position: relative;
		font-size: 12px;
		line-height: 1.25;
		color: fade(#6f6f6f, 60);
		min-height: 112px;
		padding-bottom: 44px;
		margin: 0 -10px 10px -10px;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			content: "";
			display: block;
			width: 1px;height: 36px;
			position: absolute;
			bottom: 0;left: 50%;
			background: @clr-border;
		}
		&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0;}
		&.right {
			.players-info {
				float: right;
				padding-right: 0;
				padding-left: 40px;
				text-align: left;
			}
		}
		.main {
			color: #333;
		}
		.players-info {
			width: 50%;
			float: left;
			padding-right: 40px;
			text-align: right;
			a {
				color: fade(#6f6f6f, 60);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			.main a {
				color: #333;
			}
		}
		.goal-info {
			width: 60px;
			position: absolute;
			top: 0;left: 50%;
			margin-left: -30px;
		}
		.score {
			display: block;
			text-align: center;
			height: 40px;
			line-height: 40px;
			overflow: hidden;
			font-size: 16px;
			font-weight: 600;
			color: #fff;
			background: @clr-bg;
		}
		.time {
			font-size: 15px;
			line-height: 26px;
			text-align: center;
			color: #333;
		}
	}
	.items-wrap:last-child .goal-block:last-child {
		min-height: 70px;
		padding-bottom: 0;
		&:before {
			display: none;
		}
	}
}
.composition-box {
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: 3px solid @clr-border;
	.items-wrap {
		font-size: 0;
		margin: 0 -10px;
	}
	.item-wrap {
		display: inline-block;
		vertical-align: top;
		width: 49.95%;
		padding: 0 10px;
		margin-bottom: 25px;
		max-width: 200px;
	}
	.line-title-block {
		margin-bottom: 25px;
	}
}
.media-wrap-box {
	overflow: hidden;
	.item-wrap {
		margin-bottom: 20px;
	}
	.main-title {
		margin-bottom: 15px;
	}
}
.games-box {
	display: none;
	.item-wrap {
		margin-top: -1px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.tbl-games {
	.link {
		display: none;
		z-index: 3;
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
	}
	.tbl-row {
		position: relative;
		&:hover {
			z-index: 2;
			&:before {
				display: block;
			}
			.link {
				display: block;
			}
		}
		&:before {
			content: "";
			display: none;
			position: absolute;
			bottom: 0;left: -15px;right: -15px;top: -1px;
			border: 1px solid @clr-border;
			box-shadow: 0 2px 10px fade(#000, 20);
			background: #fdf8f0;
		}
	}
	table {
		margin: 0;
		table-layout: fixed;
		.col01 {width: 19%;}
		.col02 {width: 90px;}
		.col04 {width: 95px;}
		.col05 {width: 42px;}
		td {
			text-align: left;
			padding: 0 0 0 28px;
			vertical-align: middle;
			font-size: 18px;
			position: relative;
			background: none;
		}
		th {
			padding-left: 28px;
			text-align: left;
			padding-right: 0;
		}
		td,
		th {
			&:nth-child(3) {
				text-align: center;
				padding-left: 0;
			}
			&:nth-child(4) {
				padding-left: 0;
				text-align: left;
			}
			&:nth-child(5) {
				padding-left: 0;
			}
		}
		td {
			position: relative;
		}
	}
	.score {
		font-size: 36px;
		font-weight: 600;
		color: #ffba00;
	}
}
@media (max-width: 899px) {
	.item-total {
		font-size: 14px;
		padding: 0 10px;
	}
	.tbl-games {
		table {
			font-size: 14px;
			.col02 {width: 60px;}
			.col05 {width: 0;}
			.col04 {width: 70px;}
			th,
			td {
				font-size: 14px;
				padding-left: 10px;
				&:nth-child(5) {
					width: 0;
					padding: 0;
				}
			}
		}
		.btn-stat {display: none;}
		.score {
			font-size: 28px;
		}
	}
}
.columns-box {
	position: relative;
	background: #171717;
	padding: 53px 0 20px 0;
	margin-bottom: -50px;
	.inner-block {
		z-index: 2;
		position: relative;
		&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size: 0;}
	}
	&:before, &:after {
		content: "";
		display: block;
		width: 9999px;
		position: absolute;
		top: 0;bottom: 0;left: 100%;
		background: #171717;
	}
	&:before {
		left: auto;right: 100%;
	}
	h2, h3, h4 {
		color: #fff;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
	}
	.item-mgallery {
		color: #fff;
		.title-block {
			color: #fff;
		}
		a {
			color: #fff;
		}
	}
	.link-block {
		text-align: center;
		font-size: 16px;
		margin-top: 0px;
		color: #6f6f6f;
		a {
			color: #6f6f6f;
		}
	}
	.items-wrap {
		margin-bottom: 40px;
	}
	.players-box {
		margin-top: -12px;
		margin-right: -5px;
	}
}
.best-players-box {
	padding: 35px 0 30px 0;
	background: #f3f3f3;
	position: relative;
	.item-title {
		overflow: hidden;
		position: relative;
		margin: 0 auto 22px auto;
		max-width: 400px;
		font-size: 18px;
		color: #000;
		line-height: 38px;
		.title {
			width: 1005;
			float: left;
			line-height: 38px;
			font-weight: 600;
			margin-right: -170px;
		}
		.select-block {
			width: 170px;
			float: right;
		}
	}
	.item-wrap {
		margin-bottom: 20px;
	}
	.item-player {
		background: #fff;
		border-color: #fff;
		max-width: 400px;
		margin: 0 auto;
		&:hover {
			border-color: #d7d7d7;
		}
		.name-block {
			margin-bottom: 40px;
		}
	}
	&:before, &:after {
		content: "";
		display: block;
		width: 9999px;
		position: absolute;
		top: 0;bottom: 0;left: 100%;
		background: #f3f3f3;
	}
	&:before {
		left: auto;right: 100%;
	}
	.title-block {
		margin-bottom: 30px;
		text-align: center;
		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 100px;
			max-height: 30px;
			margin-right: 15px;
		}
		h1, h2, h3 {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		.select-block {
			margin: 10px auto 0 auto;
		}
	}
}
.main-box {
	background: #181818 url(../img/main/decor.jpg) center bottom no-repeat;
	padding-bottom: 47px;
	.inner-wrap {
		background: #080808;
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.inner-block {
		overflow: hidden;
		position: relative;
	}
	h2, h3, h4 {
		font-size: 18px;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		text-align: left;
		margin-bottom: 20px;
		padding: 0;
	}
	.title-block {
		padding-right: 160px;
		overflow: hidden;
		margin-bottom: 5px;
		height: 38px;
		line-height: 38px;
		h1, h2, h3, h4 {
			margin: 0;
			width: 100%;
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
		}
		.title {
			width: 100%;
			float: left;
		}
		.select-block {
			width: 150px;
			float: right;
			margin-right: -160px;
			position: relative;
		}
	}
	.link-block {
		position: relative;
		display: block;
		text-align: center;
		margin-top: 25px;
		color: #6f6f6f;
		a {
			color: #6f6f6f;
		}
	}
	.column {
		margin: 0 auto 40px auto;
		max-width: 400px;
		position: relative;
		overflow: hidden;
	}
}
.news-list-box {
	.item-wrap {
		margin-bottom: 20px;
	}
}
.gallery-show {
	.popup-box {
		top: 0;
		position: fixed;
	}
}
.popup-box {
	position: absolute;
	top: 100%;left: 0;
	width: 100%;height: 100%;
	z-index: 99;
	min-width: 320px;
	background: fade(#171717, 80);
	.wrap-block {
		position: absolute;
		top: 50%;left: 0;right: 0;
		.t-translate(0, -50%);
	}
}
.gallery-slider-box {
	.sl-item {
		display: block;
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	.main-slider {
		.sl-item {
			padding-top: 50.5%;
		}
		img {
			display: block;
			position: absolute;
			top: 0;left: 0;
			width: 100%;
		}
	}
	.preview-slider {
		background: #171717;
		padding: 10px 6px;
		position: relative;
		overflow: hidden;
		.slider {
			position: relative;
			overflow: hidden;
			clear: both;
		}
		.sl-item {
			display: block;
			width: 100%;
			position: relative;
			overflow: hidden;
			border: 4px solid #171717;
			border-radius: 3px;
			cursor: pointer;
			&.active {
				border-color: #f7a519;
			}
		}
		.owl-item {
			padding: 0 4px;
		}
		.photo-block {
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			padding-top: 50.5%;
		}
		img {
			display: block;
			position: absolute;
			top: 0;left: 0;
			width: 100%;
		}
	}
	.owl-prev,
	.owl-next {
		display: block;
		overflow: hidden;
		text-indent: -999px;
		.i;.i-ico-slider-small;
		position: absolute;
		top: 50%;left: 10px;
		margin-top: -14px;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
	.owl-next {
		left: auto;right: 10px;
	}
	.owl-prev {
		.t-rotate(180deg);
	}
	.btn-close {
		display: block;
		float: left;
		padding-right: 35px;
		line-height: 22px;
		color: #fff;
		text-decoration: none;
		position: absolute;
		top: -37px;right: 17px;
		z-index: 2;
		&:before {
			content: "";
			.i;.i-ico-close;
			position: absolute;
			top: 0;right: 0;
		}
	}
}
@media (max-width: 767px) {
	.tbl-tables table {
		.col03,
		.col04,
		.col05,
		.col06 {
			width: 60px;
		}
		.col07,
		.col08 {
			width: 75px;
		}
		th,
		td {
			&:last-child {
				padding-right: 0;
			}
		}
	}
}
@media (max-width: 639px) {
	.tbl-games {
		display: none;
	}
	.games-box {
		display: block;
	}
	.tbl-tables {
		table {
			width: 100%;
			.col07 {width: 0px;}
		}
		th,
		td {
			&:nth-child(7) {
				width: 0;
				font-size: 0;
				padding: 0;
			}
		}
	}
}
@media (max-width: 479px) {
	.item-total {
		height: 60px;
		line-height: 60px;
		.team-block {
			padding-right: 60px;
			&+.team-block {
				padding-right: 0;
				padding-left: 60px;
			}
		}
		.logo {
			width: 40px;height: 40px;
			line-height: 40px;
			margin-top: -20px;
		}
	}
	.item-player {
		padding-left: 146px;
		font-size: 0.9em;
		height: 181px;
		.photo-block {
			width: 120px;height: 155px;
			margin-left: -134px;
		}
	}
	.tbl-tables {
		table {
			width: 100%;
			.col07,
			.col06,
			.col05,
			.col04 {width: 0px;}
		}
		th,
		td {
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				width: 0;
				font-size: 0;
				padding: 0;
			}
		}
	}
}
@media (min-width: 480px) {
	.item-new {
		h2, h3,
		.second-title {
			margin-bottom: 15px;
		}
	}
	.result-box {
		padding-left: 120px;
		padding-right: 120px;
		font-size: 14px;
		.team-block {
			margin: 0 0 0 -120px;
			width: 100px;
			&:last-child {
				float: right;
				margin: 0 -120px 0 0;
			}
			.logo-block {
				height: 100px;
				padding: 14px;
				line-height: 70px;
				margin-bottom: 10px;
			}
		}
		.score-block {
			margin-top: 15px;
			.score {
				width: 45px;height: 45px;
				line-height: 45px;
				font-size: 24px;
				border-radius: 3px;
			}
		}
	}
	.goals-result-box {
		.goal-block {
			font-size: 16px;
			line-height: 26px;
			min-height: 116px;
			.goal-info {
				top: 5px;
			}
		}
	}
	.composition-box {
		.item-wrap {
			width: 33.3%;
		}
	}
}
@media (min-width: 640px) {
	.item-one-player {
		padding-bottom: 34px;
		margin-bottom: 40px;
		padding-left: 262px;
		font-size: 18px;
		.photo-block {
			width: 230px;
			max-height: 296px;
			float: left;
			margin-left: -262px;
		}
		h1,
		.main-title {
			font-size: 24px;
			line-height: 1;
			margin-bottom: -2px;
		}
		.pos-block {
			margin-bottom: 12px;
		}
		.info-block {
			clear: none;
		}
	}
	.item-new {
		.photo-block {
			width: 275px;
			float: left;
			margin: 5px 22px 5px 0;
		}
	}
	.gallery-box,
	.media-gallery-box {
		.item-wrap {
			width: 50%;
		}
	}
	.media-gallery-box {
		.item-wrap {
			width: 49.95%;
		}
	}
	.stat-box {
		.item-wrap {
			width: 50%;
			float: left;
		}
	}
	.news-box {
		.item-wrap {
			margin-bottom: 40px;
		}
	}
	.players-box {
		.item-wrap {
			width: 50%;
		}
	}
	.result-box {
		padding-left: 180px;
		padding-right: 180px;
		font-size: 14px;
		.team-block {
			margin: 0 0 0 -180px;
			width: 160px;
			&:last-child {
				float: right;
				margin: 0 -180px 0 0;
			}
			.logo-block {
				height: 160px;
				padding: 14px;
				line-height: 130px;
				margin-bottom: 10px;
			}
			.name-block {
				font-size: 20px;
				margin-left: 0;
				margin-right: 0;
			}
			.location-block {
				font-size: 16px;
				margin-left: 0;
				margin-right: 0;
			}
		}
		.score-block {
			margin-top: 30px;
			margin-bottom: 15px;
			.score {
				width: 60px;height: 60px;
				line-height: 60px;
				font-size: 30px;
				margin-right: 30px;
				&:after {
					width: 30px;
				}
			}
		}
		.period-block {
			.period {
				font-size: 24px;
				margin-right: 32px;
				&:after {
					width: 16px;
					margin-left: 8px;
				}
			}
		}
	}
	.goals-result-box {
		padding-bottom: 35px;
		margin-bottom: 30px;
		.goal-block {
			margin-left: 0;
			margin-right: 0;
			&.right {
				.players-info {
					padding-left: 65px;
				}
			}
			.players-info {
				padding-right: 65px;
			}
			.goal-info {
				width: 73px;
				margin-left: -36px;
			}
			.score {
				font-size: 24px;
			}
			
		}
	}
	.composition-box {
		.item-wrap {
			width: 24.99%;
		}
	}
	.media-wrap-box {
		margin: 0 -20px;
		.item-wrap {
			display: block;
			float: left;
			width: 50%;
			padding: 0 20px;
			margin-bottom: 40px;
		}
	}
	.main-box {
		.inner-block {
			margin: 0 -20px;
		}
		.column {
			max-width: 100%;
			padding: 0 20px;
			&~.column {
				width: 50%;
				float: left;
			}
		}
	}
}
@media (min-width: 768px) {
	.cnt-info-box {
		.soc-block {
			margin-bottom: 0;
			.title {
				display: inline;
				margin: 0 15px 0 0;
			}
			.buttons {
				display: inline;
				margin: 0;
			}
		}
	}
	.gallery-box,
	.media-gallery-box {
		margin: 0 -20px;
		.item-wrap {
			padding: 0 20px;
			margin-bottom: 40px;
		}
	}
	.media-gallery-box {
		margin: 0 -40px;
		.item-wrap {
			padding: 0 40px;
		}
		.load-box {
			padding-top: 40px;
		}
	}
	.columns-box {
		.column {
			margin-bottom:30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.media-gallery-box {
			margin: 0 -20px;
			overflow: hidden;
			.items-wrap {
				width: 50%;
				float: left;
				padding: 0 20px;
			}
			.item-wrap {
				width: 100%;
				padding: 0;
			}
		}
	}
	.players-box {
		margin: 0 -28px 15px -28px;
		.item-wrap {
			padding: 0 15px;
			margin-bottom: 20px;
		}
	}
	.load-box {
		margin-bottom: 40px;
	}
	.stat-box {
		margin: 0 -22px;
		.item-wrap {
			margin-bottom: 45px;
			padding: 0 22px;
		}
	}
	.result-box {
		padding-left: 220px;
		padding-right: 220px;
		padding-bottom: 25px;
		.team-block {
			width: 180px;
			margin-left: -220px;
			&:last-child {
				margin-left: 0;
				margin-right: -220px;
			}
			.logo-block {
				height: 180px;
				line-height: 150px;
			}
			.name-block {
				font-size: 24px;
			}
			.location-block {
				font-size: 16px;
			}
		}
		.result-block {
			.date-block {
				font-size: 18px;
				margin-bottom: 10px;
				&:before {
					.t-scale(1);
					margin-right: 7px;
					vertical-align: -5px;
				}
			}
			.location-block {
				font-size: 18px;
				&:before {
					.t-scale(1);
					vertical-align: -5px;
					margin-right: 7px;
				}
			}
			.score-block {
				.score {
					width: 75px;height: 75px;
					line-height: 75px;
					font-size: 44px;
					margin-right: 50px;
					&:last-child {
						margin-right: 0;
					}
					&:after {
						width: 50px;
					}
				}
			}
		}
	}
	.goals-result-box {
		margin-bottom: 35px;
	}
	.composition-box {
		.item-wrap {
			width: 19.99%;
		}
	}
	.best-players-box {
		padding-bottom: 6px;
		.items-wrap {
			overflow: hidden;
			margin: 0 -22px;
		}
		.item-wrap {
			width: 50%;
			float: left;
			padding: 0 22px;
			margin-bottom: 44px;
		}
		.title-block {
			margin-bottom: 30px;
			.select-block {
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 20px;
			}
			img {
				max-height: 100px;
			}
		}
	}
	.gallery-slider-box	{
		.owl-prev,
		.owl-next {
			.i-ico-slider;
			margin: -28px 10px 0 10px;
		}
	}
}
@media (min-width: 1024px) {
	.cnt-info-box {
		.soc-block {
			margin-bottom: -8px;
			float: left;
			&+.link {
				float: right;
			}
			&.center {
				text-align: center;
				float: none;
			}
		}
	}
	.gallery-box,
	.media-gallery-box {
		.item-wrap {
			width: 33.3333%;
		}
	}
	.media-gallery-box {
		.item-wrap {
			width: 33.3%;
		}
	}
	.players-box {
		.item-wrap {
			width: 33.3333%;
		}
	}
	.stat-box {
		.item-wrap {
			width: 33.333%;
		}
	}
	.composition-box {
		.item-wrap {
			width: 16.65%;
		}
	}
	.media-wrap-box {
		margin: 0 -25px;
		.item-wrap {
			padding: 0 25px;
			margin-bottom: 50px;
		}
		.main-title {
			margin-bottom: 25px;
		}
	}
	.columns-box {
		padding-bottom: 0;
		.column {
			width: 63%;
			float: left;
			margin: 0;
			padding: 0;
			&+.column {
				width: 30%;
				float: right;
				margin: 0;
				padding: 0;
			}
		}
		.players-box {
			.item-wrap {
				width: 100%;
				margin-bottom: 28px;
				padding-right: 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.media-gallery-box {
			margin: 0 -35px;
			.items-wrap {
				padding: 0 35px;
			}
		}
	}
	.tables-box {
		.items-wrap {
			margin: 0 -25px;
			columns: 2;
			column-gap: 0;
		}
		.item-wrap {
			width: 100%;
			padding: 0 25px;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		.tbl-tables  table {
			.col01 {width: 40px;}
			.col03,
			.col04,
			.col05,
			.col06 {width: 42px;}
			.col07 {width: 60px;}
			.col08 {width: 60px;}
			th, td {
				padding-left: 0 !important;
				padding-right: 0 !important;
				text-align: center;
				&:nth-child(2) {
					text-align: left;
				}
			}
		}
	}
	.best-players-box {
		.item-wrap {
			width: 33.333%;
		}
	}
	.main-box {
		.inner-block {
			margin: 0 -10px;
		}
		.column {
			float: left;
			width: 33.3333% !important;
			padding: 0 10px;
			margin-bottom: 0;
		}
	}
	.news-list-box {
		.item-wrap {
			margin-bottom: 31px;
		}
		.link-block {
			margin-top: -10px;
		}
	}
}